* {
    margin: 0;
    padding: 0;
    font-family: "Nanum Gothic", serif;
    font-weight: 100;
}

@mixin titleFont() {
    font-family: "Nanum Gothic", serif;
    font-weight: 600;
    color: white;
}

@mixin objcolor() {
    background-color: #303136;
    border-radius: 20px;
}

@mixin backblur2() {
    border-radius: 20px;
    background: none;
    box-shadow: 5px 5px 10px #506472;
    backdrop-filter: blur(30px);
}

html {}

body {
    margin: 0 auto;
    width: 99vw;
    height: 100%;
    display: block;
    background-color: #1C1B20;
    color: white;




    .container {
        margin: 0 auto;
        height: 900px;
        width: 90vw;
        padding-top: 20px;
        box-sizing: border-box;

        .header {
            width: 100%;
            height: 60px;
            background-color: #fff;
            @include objcolor();

            p {
                font-size: 25px;
                @include titleFont;
                line-height: 60px;
                margin-left: 50px;
            }
        }

        .main {
            width: 100%;
            height: calc(100vh - 60px);
            display: flex;

            .firstSection {
                width: 15%;
                height: 95%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                .selectTime {
                    width: 100%;
                    height: 15%;
                    margin: 0 auto;
                    background-color: #fff;
                    border-radius: 20px;
                    @include objcolor();
                    box-sizing: border-box;
                    padding: 20px;

                    .selectValuebox {
                        width: 100px;
                        display: flex;
                        text-align: center;
                        margin: auto;

                        .selectValue {
                            text-align: right;
                            width: 100px;
                            border-radius: 30px;


                        }
                    }


                }

                .realtimeWeatherArea {
                    width: 100%;
                    height: 45%;
                    margin: 0 auto;
                    background-color: #fff;
                    border-radius: 20px;
                    background: linear-gradient(#bdc5cc, #0185f8);
                    padding: 20px;
                    box-sizing: border-box;



                    .realtimeWeather {
                        font-size: 14px;

                        h2 {
                            @include titleFont;
                            text-align: center;

                        }

                        ul {
                            list-style: none;
                            margin-top: 20px;

                            .icon {
                                width: 60%;
                                height: 7vw;
                                margin: auto;
                                background-image: url(./assets/img/sunny.png);
                                background-size: cover;
                                background-position: center;
                            }

                            .temperature {
                                text-align: center;
                                font-size: 2.2vw;
                            }

                            .weather-info {
                                margin-top: 0.7vw;
                                width: 100%;
                                height: 5.5vw;
                                display: flex;
                                justify-content: space-between;
                                text-align: center;

                                .winfoB {
                                    margin: auto;

                                    p {
                                        font-size: 0.7vw
                                    }

                                    .windIcon {
                                        width: 40px;
                                        height: 2vw;
                                        display: block;

                                        margin: auto;
                                        background-image: url(./assets/img/Wind.png);
                                        background-size: contain;
                                        background-repeat: no-repeat;
                                        background-position: center;
                                    }

                                    .humidityIcon {
                                        width: 40px;
                                        height: 2vw;
                                        display: block;
                                        margin: auto;
                                        background-image: url(./assets/img/Dew.png);
                                        background-size: contain;
                                        background-repeat: no-repeat;
                                        background-position: center;

                                    }

                                    .VisibilityIcon {
                                        width: 40px;
                                        height: 2vw;
                                        display: block;

                                        margin: auto;
                                        background-image: url(./assets/img/Rain2.png);
                                        background-size: contain;
                                        background-repeat: no-repeat;
                                        background-position: center;

                                    }
                                }

                            }

                        }
                    }


                }

                .a1 {
                    width: 100%;
                    height: 30%;
                    margin: 0 auto;
                    background-color: #fff;
                    border-radius: 20px;
                    @include objcolor();


                }
            }

            .secondSection {
                width: 40%;
                height: 95%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                .b1 {
                    width: 90%;
                    height: 63%;
                    margin: 0 auto;
                    @include objcolor();
                    background-color: #1C1B20;
                    overflow: hidden;
                    // background: linear-gradient(#bdc5cc, #0185f8);

                    opacity: 90%;


                    .map {
                        width: 25vw;
                        height: 100%;

                        .koreaMap {
                            stroke: rgb(159, 255, 171);
                            fill: #ffffff;
                        }

                        .koreaMap:hover {

                            fill: #06ab7c;
                            cursor: pointer;
                        }
                    }

                }

                .b2 {
                    width: 90%;
                    margin: 0 auto;
                    @include objcolor();
                    height: 30%;




                }
            }

            .thirdSection {
                width: 45%;
                height: 95%;
                // background-color: #3f1d1d;
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                .c {
                    width: 100%;
                    height: 13vw;
                    // background-color: #fff;
                    display: flex;
                    justify-content: space-between;

                    .c2-1 {
                        width: 32%;
                        background-color: black;
                        @include objcolor();

                        .circleBox {
                            width: 100%;
                            position: relative;


                            .circle {
                                display: block;
                                width: 12vw;
                                height: 12vw;
                                margin: auto;



                            }

                            .circleperTitle {
                                position: absolute;
                                top: 1vw;
                                left: 4vw;
                                font-size: 1vw;
                                font-weight: bold;
                                font-family: "Nanum Gothic", serif;

                            }

                            .circleper {
                                position: absolute;
                                top: 6vw;
                                left: 4.3vw;
                                font-size: 2vw;
                                font-weight: bold;
                                text-shadow: 10px 10px 10px #1C1B20;
                                font-family: "Nanum Gothic", serif;
                            }
                        }
                    }
                }

                .c1 {
                    width: 100%;
                    height: 30%;
                    @include objcolor();
                    padding: 30px;
                    box-sizing: border-box;

                    .canvas {
                        border-radius: 20px;
                        margin: auto;
                        display: block;
                    }



                }

                .c2 {
                    width: 100%;
                    height: 30%;
                    @include objcolor();

                }
            }
        }
    }
}

@media (max-width:1280px) {
    body {
        margin: 0 auto;
        width: 100vw;
        display: block;
        background-color: #fff;
        background-image: url();
        background-repeat: no-repeat;
        background-size: cover;

        .container {
            margin: 0 auto;
            height: 100vh;
            width: 90vw;

            .header {
                width: 100%;
                height: 60px;
                background-color: #fff;
                @include objcolor();

                p {
                    font-size: 25px;
                    font-style: bold;
                    line-height: 60px;
                    margin-left: 50px;
                }
            }

            .main {
                width: 100%;
                height: calc(100% - 60px);
                display: flex;

                .firstSection {
                    width: 20%;
                    height: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;

                    .a1 {
                        width: 100%;
                        height: 30%;
                        margin: 0 auto;
                        background-color: #fff;
                        border-radius: 20px;
                        @include objcolor();
                    }

                    .a {
                        width: 100%;
                        height: 30%;
                        margin: 0 auto;
                        background-color: #fff;
                        border-radius: 20px;
                        @include objcolor();


                    }
                }

                .secondSection {
                    width: 40%;
                    height: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;

                    .b1 {
                        width: 90%;
                        height: 63%;
                        margin: 0 auto;
                        @include objcolor()
                    }

                    .b2 {
                        width: 90%;
                        margin: 0 auto;

                        @include objcolor();
                        height: 30%;

                    }
                }

                .thirdSection {
                    width: 45%;
                    height: 100%;
                    // background-color: #3f1d1d;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;

                    .c {
                        width: 100%;
                        height: 20%;
                        // background-color: #fff;
                        display: flex;
                        justify-content: space-between;

                        .c2-1 {
                            width: 32%;
                            background-color: black;
                            @include objcolor();
                        }
                    }

                    .c1 {
                        width: 100%;
                        height: 40%;
                        @include objcolor();

                    }

                    .c2 {
                        width: 100%;
                        height: 30%;
                        @include objcolor();

                    }
                }
            }
        }
    }
}

@media (max-width:720px) {
    .container {
        margin: 0 auto;
        height: 100vh;
        width: 90vw;

        .header {
            width: 100%;
            height: 60px;
            background-color: #fff;
            text-align: center;
        }

        .main {
            width: 100%;
            height: calc(100% - 60px);
            display: flex;
            flex-wrap: wrap;

            .firstSection {
                width: 100% !important;
                height: 300px !important;

                .a1 {
                    width: 100% !important;
                    height: 50px !important;
                    background-color: #fff;
                    border-radius: 20px;
                    @include objcolor();
                }

                .a {
                    width: 46% !important;
                    height: 200px !important;
                    background-color: #fff;
                    border-radius: 20px;
                    @include objcolor();


                }
            }

            .secondSection {
                width: 100% !important;
                height: 500px !important;

                .b1 {
                    width: 100vw !important;
                }

                .b2 {
                    width: 100vw !important;
                }



            }

            .thirdSection {
                width: 100% !important;


                .c {
                    height: 150px !important;

                    .c2-1 {}
                }

                .c1 {}

                .c2 {}
            }
        }

    }
}