* {
    margin: 0;
    padding: 0;
    font-family: "Nanum Gothic", serif;
    font-weight: 100;
    color: #e0dfdf;

}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .tg-0lax {
    text-align: left;
    vertical-align: top
}

$MC: #e0dfdf;

@mixin titleFont() {
    font-family: "Nanum Gothic", serif;
    font-weight: 600;
    color: white;
}

@mixin backgoundSet() {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin objcolor() {
    background-color: #303136;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #535353;

}

@mixin backblur2() {
    border-radius: 10px;
    background: none;

    box-shadow: 5px 5px 10px #68747c;
    backdrop-filter: blur(30px);
    opacity: 90%;
}

.body {
    margin: 0 auto;
    width: 99vw;
    height: 100%;
    display: block;
    background-image: url(./assets/img/날씨.jpg);
    @include backgoundSet();

    .container {
        margin: 0 auto;
        height: 900px;
        width: 90vw;
        padding-top: 20px;
        box-sizing: border-box;

        .header {
            justify-content: space-between;
            display: flex;
            width: 100%;
            height: 60px;
            background-color: #fff;
            @include backblur2();


            p {
                font-size: 25px;
                @include titleFont;
                line-height: 60px;
                margin-left: 50px;
            }

            button {
                border-radius: 30px;
                height: 30px;
                line-height: 10px;
                color: #1C1B20;
                margin: 0.8vw;
                background-color: #cddcf8;
                border: none;
            }
        }

        .main {
            width: 100%;
            height: calc(100vh - 60px);
            display: flex;
            justify-content: space-between;

            .firstSection {
                width: 15%;
                height: 44vw;
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                .selectTime {
                    width: 100%;
                    height: 15%;
                    margin: 0 auto;
                    @include backblur2();

                    box-sizing: border-box;
                    padding: 20px;

                    .selectValuebox {
                        width: 10vw;

                        text-align: center;
                        margin: auto;

                        .yearBox {
                            display: flex;

                            .selectValue {
                                text-align: center;
                                width: 100%;
                                height: 1.2vw;
                                border-radius: 30px;
                                margin-bottom: 1vw;
                                font-size: 1vw;
                            }
                        }

                        .mapBox {
                            .mapSelect {
                                text-align: center;
                                width: 10vw;
                                height: 1.2vw;
                                border-radius: 30px;
                                font-size: 1vw;
                            }
                        }

                    }


                }


            }

            .realtimeWeatherArea {
                width: 100%;
                height: 20.5vw;
                margin: 0 auto;
                border-radius: 20px;
                background: linear-gradient(#ccc8bd, #0185f8);
                padding: 20px;
                box-sizing: border-box;

                .realtimeWeather {
                    height: 100%;
                    font-size: 1.4vw;

                    h2 {
                        @include titleFont;
                        text-align: center;

                        p {
                            font-size: 0.9vw;
                            color: #e4e5e6;
                        }

                    }

                    ul {
                        width: 10vw;
                        height: 100%;
                        margin: auto;
                        list-style: none;
                        margin-top: 2vh;

                        .icon {
                            width: 8vw;
                            height: 40%;
                            margin: -1vw auto;
                            background-image: url(./assets/img/sunny.png);
                            @include backgoundSet();
                        }

                        .temperature {
                            text-align: center;
                            font-size: 2.2vw;
                            font-weight: bold;
                            text-shadow: 7px 7px 20px #1C1B20;
                            margin-top: -2vw;
                        }

                        .weather-info {
                            margin-top: 1vw;
                            width: 10vw;
                            height: 5.5vw;
                            display: flex;
                            gap: 1.2vw;
                            justify-content: space-between;
                            text-align: center;

                            .winfoB {
                                margin: auto;

                                p {
                                    margin-top: 0.5vw;
                                    font-size: 0.6vw;
                                    text-align: center;

                                }

                                .windIcon {
                                    width: 2vw;
                                    height: 2vw;
                                    display: block;
                                    margin: auto;
                                    background-image: url(./assets/img/Wind.png);
                                    @include backgoundSet();
                                }

                                .humidityIcon {
                                    width: 2vw;
                                    height: 2vw;
                                    display: block;
                                    margin: auto;
                                    background-image: url(./assets/img/Dew.png);
                                    @include backgoundSet();


                                }

                                .VisibilityIcon {
                                    width: 2vw;
                                    height: 2vw;
                                    display: block;
                                    margin: auto;
                                    background-image: url(./assets/img/Rain2.png);
                                    @include backgoundSet();

                                }
                            }

                        }

                    }
                }
            }

            .perceived {
                width: 100%;
                height: 30%;
                margin: 0 auto;
                border-radius: 20px;
                // background: linear-gradient(#ccc8bd, #ffab04, #ff8604);
                box-sizing: border-box;
                @include backblur2();
                padding: 2vw;

                .thermometerIconbox {
                    display: flex;
                    width: 100%;
                    height: 6.5vw;

                    .thermometerIcon {
                        width: 5vw;
                        height: 6.2vw;
                        margin-left: -1vw;
                        margin-right: 1vw;
                        background-image: url(./assets/img/ThermometerQuarter.png);
                        @include backgoundSet();
                    }

                    div {
                        text-align: center;
                        font-size: 1vw;
                        font-weight: bold;
                        @include titleFont();

                        p {
                            margin-top: 1vw;
                            font-size: 1.1vw;
                            font-weight: bold;
                            @include titleFont();
                        }
                    }

                }

                .suggestion {
                    text-align: center;

                    .suggestionT {
                        font-size: 1vw;
                        font-weight: bold;
                        margin-top: -0.5vh;
                        @include titleFont();
                        margin-bottom: 1vh;

                    }

                    .suggestionM {
                        font-size: 0.7vw;
                    }


                }

            }
        }

        .secondSection {
            width: 35%;
            height: 44vw;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            .b1 {
                width: 100%;
                height: 63%;
                @include backblur2();

                overflow: hidden;
                position: relative;
                // background-image: url(./assets/img/sea.jpg);
                // background: linear-gradient(#153b5c, #355287, #043083);

                .map {
                    width: 25vw;
                    height: 100%;
                    top: -4%;
                    left: 4%;
                    position: absolute;

                    .koreaMap {
                        stroke: #0088ff;
                        fill: #ffffff;

                        &.active {
                            fill: #0088ff; // 클릭 시 활성화된 색 (주황색)
                            stroke: #ffa600; // 테두리 강조
                            stroke-width: 3;


                        }

                        &:hover {

                            fill: #0088ff;
                            cursor: pointer;
                        }
                    }

                }

            }

            .b2 {
                width: 100%;
                @include backblur2();

                height: 30%;

                .chart {
                    height: 11vw !important;

                    Line {
                        stroke: #3d4754;


                    }

                    .chartline {
                        stroke: #1269d4;
                    }
                }

                .chartInfo {
                    width: 30.4vw;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-left: 0.5vw;




                    .text-center {
                        margin-top: -0.6vw;
                        font-size: 1.2vw;

                        .text-sm {

                            font-size: 0.8vw;
                            text-align: center;
                        }
                    }
                }
            }
        }

        .thirdSection {
            width: 45%;
            height: 44vw;
            // background-color: #3f1d1d;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            .c {
                width: 100%;
                height: 13vw;
                // background-color: #fff;
                display: flex;
                justify-content: space-between;
                position: relative;



                .recharts-responsive-container {
                    position: absolute;
                    width: 7% !important;
                    top: 3.7vw;
                    left: 5vw;
                    margin: auto;
                }

                .c2-1,
                .c2-2,
                .c2-3 {
                    width: 32%;
                    @include backblur2();



                    .allhighestprecipitation {
                        z-index: 2px;
                        font-size: 1.5vw;
                        line-height: 9vw;
                        text-align: center;
                    }

                    .highestprecipitationDay {
                        font-size: 2vw;
                        line-height: 6vw;
                        font-weight: bold;
                        text-align: center;
                    }

                    .highestprecipitation {
                        font-size: 1.5vw;
                        line-height: 2vw;
                        text-align: center;
                    }

                    .circleperTitle {
                        margin-top: 1vw;
                        text-align: center;
                        font-size: 1.2vw;
                        font-weight: bold;
                        font-family: "Nanum Gothic", serif;
                        @include titleFont();


                    }

                    .circleBox {
                        width: 100%;
                        position: relative;
                        margin-top: -2vw;


                        .circle {
                            display: block;
                            width: 12vw;
                            height: 12vw;
                            margin: auto;

                            .circleIn {
                                stroke: #d0dee9;

                            }


                            .circleIn2 {
                                stroke: #00FFFF;
                            }

                        }

                        .circleper {
                            position: absolute;
                            top: 6vw;
                            left: 4.3vw;
                            font-size: 2vw;
                            font-weight: bold;
                            text-shadow: 10px 10px 10px #1C1B20;
                            font-family: "Nanum Gothic", serif;
                            @include titleFont();
                        }
                    }
                }
            }

            .c1 {
                width: 100%;
                height: 30%;
                @include backblur2();

                padding: 30px;
                box-sizing: border-box;
                position: relative;

                // background-color: rgb(68, 78, 120);
                Line {
                    stroke: #746bb8;
                }


                .tgtitle {
                    font-size: 1vw;
                    position: absolute;
                    top: 0.9vw;
                    left: 17.3vw;
                    font-weight: bold;
                    @include titleFont();
                }


                .temperatureGraph {
                    position: absolute;
                    top: 2.5vw;
                    left: 0;
                    border-radius: 20px;
                    margin: auto;
                    display: block;
                    width: 90%;
                    height: 12vw;
                }





            }

            .c2 {
                width: 100%;
                height: 30%;
                @include backblur2();

                padding: 10px 0 20px 0;
                font-size: 0.8vw;
                text-align: center;
                box-sizing: border-box;
                font-weight: bold;
                background-color: rgb(109, 145, 181);


                .table::-webkit-scrollbar {
                    width: 80%;

                }

                h2 {
                    font-size: 1vw;
                    font-weight: bold;
                    margin-bottom: 5px;
                    @include titleFont();
                }



                .table {
                    width: 90%;
                    height: 80%;
                    padding: 0.5vw;
                    margin: auto;
                    border: 1px solid #fff;
                    border-radius: 20px;
                    overflow-y: scroll;
                    overflow-x: scroll;

                    .tableMain {
                        .customthead {
                            .customtr {
                                .customth {
                                    border-bottom: 1px solid #bdc5cc;
                                    color: #ffffff;


                                }
                            }
                        }

                        .customtbody {
                            .customtr {
                                border-bottom: 2px solid #0185f8;
                                color: #ffffff;


                                .customtd {

                                    width: 200px;
                                    word-break: break-all;
                                    border-bottom: 1px solid #dedede;
                                    color: #ffffff;


                                }
                            }
                        }
                    }
                }

            }
        }
    }
}

.body.dark {
    margin: 0 auto;
    width: 99vw;
    height: 100%;
    display: block;
    background-color: #4A494E;
    background-image: none;


    .container {
        margin: 0 auto;
        height: 900px;
        width: 90vw;
        padding-top: 20px;
        box-sizing: border-box;

        .header {
            width: 100%;
            height: 60px;
            background-color: #fff;
            @include objcolor();

            button {
                border-radius: 30px;
                height: 30px;
                line-height: 10px;
                color: #ffffff;
                margin: 0.8vw;
                background-color: #4A494E;
                border: none;
            }

            p {
                font-size: 25px;
                @include titleFont;
                line-height: 60px;
                margin-left: 50px;
            }
        }

        .main {
            width: 100%;
            height: calc(100vh - 60px);
            display: flex;
            justify-content: space-between;

            .firstSection {
                width: 15%;
                height: 44vw;
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                .selectTime {
                    width: 100%;
                    height: 15%;
                    margin: 0 auto;
                    border-radius: 20px;
                    @include objcolor();
                    box-sizing: border-box;
                    padding: 20px;

                    .selectValuebox {
                        width: 10vw;

                        text-align: center;
                        margin: auto;

                        .yearBox {
                            display: flex;

                            .selectValue {
                                text-align: center;
                                width: 100%;
                                height: 1.2vw;
                                border-radius: 30px;
                                margin-bottom: 1vw;
                                color: #1C1B20;

                            }
                        }

                        .mapBox {
                            .mapSelect {
                                text-align: center;
                                width: 10vw;
                                height: 1.2vw;
                                color: #1C1B20;
                                border-radius: 30px;
                            }
                        }

                    }


                }


            }

            .realtimeWeatherArea {
                width: 100%;
                height: 20.5vw;
                margin: 0 auto;
                background-color: #fff;
                border-radius: 20px;
                background: linear-gradient(#6D4AE3, #6d069d);
                padding: 20px;
                box-sizing: border-box;

                .realtimeWeather {
                    height: 100%;

                    font-size: 1.3vw;

                    h2 {
                        @include titleFont;
                        text-align: center;

                        p {
                            font-size: 0.9vw;
                        }

                    }

                    ul {
                        width: 10vw;
                        height: 100%;
                        margin: auto;
                        list-style: none;
                        margin-top: 2vh;

                        .icon {
                            width: 8vw;
                            height: 40%;
                            margin: -1vw auto;
                            background-image: url(./assets/img/sunny.png);
                            @include backgoundSet();
                        }

                        .temperature {
                            text-align: center;
                            font-size: 2.2vw;
                            font-weight: bold;
                            text-shadow: 7px 7px 20px #1C1B20;
                            margin-top: -2vw;
                            @include titleFont;

                        }

                        .weather-info {
                            margin-top: 1vw;
                            width: 10vw;
                            height: 5.5vw;
                            display: flex;
                            gap: 1.2vw;
                            justify-content: space-between;
                            text-align: center;

                            .winfoB {
                                margin: auto;

                                p {
                                    margin-top: 0.5vw;
                                    font-size: 0.6vw;
                                    text-align: center;


                                }

                                .windIcon {
                                    width: 2vw;
                                    height: 2vw;
                                    display: block;
                                    margin: auto;
                                    background-image: url(./assets/img/Wind.png);
                                    @include backgoundSet();
                                }

                                .humidityIcon {
                                    width: 2vw;
                                    height: 2vw;
                                    display: block;
                                    margin: auto;
                                    background-image: url(./assets/img/Dew.png);
                                    @include backgoundSet();


                                }

                                .VisibilityIcon {
                                    width: 2vw;
                                    height: 2vw;
                                    display: block;
                                    margin: auto;
                                    background-image: url(./assets/img/Rain2.png);
                                    @include backgoundSet();

                                }
                            }

                        }

                    }
                }
            }

            .perceived {
                width: 100%;
                height: 30%;
                margin: 0 auto;
                border-radius: 20px;
                // background: linear-gradient(#ccc8bd, #ffab04, #ff8604);
                box-sizing: border-box;
                @include objcolor();

                padding: 2vw;

                .thermometerIconbox {
                    display: flex;
                    width: 100%;
                    height: 6.5vw;

                    .thermometerIcon {
                        width: 5vw;
                        height: 6.2vw;
                        margin-left: -1vw;
                        margin-right: 1vw;
                        background-image: url(./assets/img/ThermometerQuarter.png);
                        @include backgoundSet();
                    }

                    div {
                        text-align: center;
                        font-size: 1vw;
                        font-weight: bold;
                        @include titleFont;


                        p {
                            margin-top: 1vw;
                            font-size: 1.1vw;
                            font-weight: bold;
                            @include titleFont;

                        }
                    }

                }

                .suggestion {
                    text-align: center;


                    .suggestionT {
                        @include titleFont;

                        font-size: 1vw;
                        font-weight: bold;
                        margin-top: -0.5vh;
                        margin-bottom: 1vh;

                    }

                    .suggestionM {
                        font-size: 0.7vw;
                    }


                }

            }
        }

        .secondSection {
            width: 35%;
            height: 44vw;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            .b1 {
                width: 100%;
                height: 63%;
                @include objcolor();
                overflow: hidden;
                position: relative;
                // background: linear-gradient(#bdc5cc, #0185f8);
                opacity: 90%;

                .map {
                    width: 25vw;
                    height: 100%;
                    top: -4%;
                    left: 4%;
                    position: absolute;

                    .koreaMap {
                        stroke: $MC;
                        fill: #ffffff;
                    }

                    .koreaMap:hover {

                        fill: #06ab7c;
                        cursor: pointer;
                    }
                }

            }

            .b2 {
                width: 100%;
                @include objcolor();
                height: 30%;

                .chart {
                    height: 11vw !important;



                    .chartline {
                        stroke: #7b55f0;
                    }
                }

                .chartInfo {
                    width: 30.4vw;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-left: 0.5vw;

                    .text-center {
                        margin-top: -0.6vw;
                        font-size: 1.2vw;

                        .text-sm {

                            font-size: 0.8vw;
                            text-align: center;
                        }
                    }
                }
            }
        }

        .thirdSection {
            width: 45%;
            height: 44vw;
            // background-color: #3f1d1d;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            .c {
                width: 100%;
                height: 13vw;
                // background-color: #fff;
                display: flex;
                justify-content: space-between;
                position: relative;



                .recharts-responsive-container {
                    position: absolute;
                    width: 7% !important;
                    top: 3.7vw;
                    left: 5vw;
                    margin: auto;
                }

                .c2-1,
                .c2-2,
                .c2-3 {
                    width: 32%;
                    @include objcolor();


                    .allhighestprecipitation {
                        z-index: 2px;
                        font-size: 1.5vw;
                        line-height: 9vw;
                        text-align: center;

                    }

                    .highestprecipitationDay {
                        font-size: 2vw;
                        line-height: 6vw;
                        font-weight: bold;
                        text-align: center;
                    }

                    .highestprecipitation {
                        font-size: 1.5vw;
                        line-height: 2vw;
                        text-align: center;
                    }

                    .circleperTitle {
                        margin-top: 1vw;
                        text-align: center;
                        font-size: 1.2vw;
                        font-weight: bold;
                        font-family: "Nanum Gothic", serif;
                        @include titleFont;



                    }

                    .circleBox {
                        width: 100%;
                        position: relative;
                        margin-top: -2vw;


                        .circle {
                            display: block;
                            width: 12vw;
                            height: 12vw;
                            margin: auto;

                            .circleIn {
                                stroke: #232324;

                            }

                            .circleIn2 {
                                stroke: #6D4AE3;
                            }
                        }



                        .circleper {
                            position: absolute;
                            top: 6vw;
                            left: 4.3vw;
                            font-size: 2vw;
                            font-weight: bold;
                            text-shadow: 10px 10px 10px #1C1B20;
                            font-family: "Nanum Gothic", serif;
                        }
                    }
                }
            }

            // .c2-1 {
            //     background: linear-gradient(#355287, #002383);
            // }


            .c1 {
                width: 100%;
                height: 30%;
                @include objcolor();
                padding: 30px;
                box-sizing: border-box;
                position: relative;

                .tgtitle {
                    font-size: 1vw;
                    position: absolute;
                    top: 0.9vw;
                    left: 17.3vw;
                    font-weight: bold;
                    @include titleFont;

                }



                .temperatureGraph {
                    position: absolute;
                    top: 2.5vw;
                    left: 0;
                    border-radius: 20px;
                    margin: auto;
                    display: block;
                    width: 90%;
                    height: 12vw;
                }



            }

            .c2 {
                width: 100%;
                height: 30%;
                @include objcolor();
                padding: 10px 0 20px 0;
                font-size: 0.8vw;
                text-align: center;
                box-sizing: border-box;
                font-weight: bold;



                .table::-webkit-scrollbar {
                    width: 80%;

                }

                h2 {
                    font-size: 1vw;
                    font-weight: bold;
                    margin-bottom: 5px;
                    @include titleFont;

                }

                .table {
                    width: 90%;
                    height: 80%;
                    padding: 0.5vw;
                    margin: auto;
                    border: 1px solid #fff;
                    border-radius: 20px;
                    overflow-y: scroll;
                    overflow-x: scroll;

                    .tableMain {
                        .customthead {
                            .customtr {
                                .customth {
                                    border-bottom: 1px solid #bdc5cc;

                                }
                            }
                        }

                        .customtbody {
                            .customtr {
                                border-bottom: 2px solid #0185f8;

                                .customtd {

                                    width: 200px;
                                    word-break: break-all;
                                    border-bottom: 2px solid #646363;

                                }
                            }
                        }
                    }
                }




            }
        }
    }
}