* {
  margin: 0;
  padding: 0;
  font-family: "Nanum Gothic";
  font-weight: 100;
  color: #fff;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
}

.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg .tg-0lax {
  text-align: left;
  vertical-align: top;
}

.body {
  margin: 0 auto;
  width: 99vw;
  height: 100vh;
  display: block;
  background-image: url(./assets/img/light.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.body .container {
  margin: 0 auto;
  width: 90vw;
  height: 100vh;
  padding-top: 20px;
  box-sizing: border-box;
}
.body .container .header {
  justify-content: space-between;
  display: flex;
  width: 100%;
  height: 60px;
  background-color: #fff;
  border-radius: 10px;
  background: none;
  box-shadow: 5px 5px 10px #68747c;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  opacity: 90%;
}
.body .container .header p {
  font-size: 25px;
  font-family: "Nanum Gothic", serif;
  font-weight: 600;
  color: white;
  line-height: 60px;
  margin-left: 50px;
}
.body .container .header button {
  border-radius: 30px;
  height: 30px;
  line-height: 10px;
  color: #1C1B20;
  margin: 0.8vw;
  background-color: #cddcf8;
  border: none;
}
.body .container .main {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
.body .container .main .firstSection {
  width: 15%;
  height: 44vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.body .container .main .firstSection .selectTime {
  width: 100%;
  height: 21%;
  margin: 0 auto;
  border-radius: 10px;
  background: none;
  box-shadow: 5px 5px 10px #68747c;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  opacity: 90%;
  box-sizing: border-box;
}
.body .container .main .firstSection .selectTime .selectValuebox {
  width: 10vw;
  height: 100%;
  margin: auto;
  text-align: center;
  flex-direction: column;
}
.body .container .main .firstSection .selectTime .sb {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 50%;
}
.body .container .main .firstSection .selectTime .selectValue,
.body .container .main .firstSection .selectTime .mapSelect {
  width: 10vw;
  height: 1.5vw;
  border-radius: 20px;
  font-size: 0.7vw;
  text-align: center;
  border: 1px solid #aaa;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #000 !important;
}
.body .container .main .firstSection .selectTime .selectValue:hover,
.body .container .main .firstSection .selectTime .mapSelect:hover {
  border-color: #0648AB;
  background: #f0f8ff;
  color: #000;
}
.body .container .main .firstSection .selectTime .selectValue option,
.body .container .main .firstSection .selectTime .mapSelect option {
  color: #333;
  font-size: 0.7vw;
}
.body .container .main .realtimeWeatherArea {
  width: 100%;
  height: 18vw;
  margin: 0 auto;
  border-radius: 20px;
  background: linear-gradient(#ccc8bd, #0185f8);
  padding: 20px;
  box-sizing: border-box;
}
.body .container .main .realtimeWeatherArea .realtimeWeather {
  height: 100%;
}
.body .container .main .realtimeWeatherArea .realtimeWeather h2 {
  font-family: "Nanum Gothic", serif;
  font-weight: 600;
  color: white;
  font-size: 1.3vw;
  font-weight: normal;
  text-align: center;
}
.body .container .main .realtimeWeatherArea .realtimeWeather h2 p {
  font-size: 0.9vw;
  color: #e4e5e6;
}
.body .container .main .realtimeWeatherArea .realtimeWeather ul {
  width: 10vw;
  height: 100%;
  margin: auto;
  list-style: none;
  margin-top: 2vh;
}
.body .container .main .realtimeWeatherArea .realtimeWeather ul .icon {
  width: 6vw;
  height: 32%;
  margin: -1vw auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.body .container .main .realtimeWeatherArea .realtimeWeather ul .temperature {
  text-align: center;
  font-size: 2.2vw;
  font-weight: bold;
  text-shadow: 7px 7px 20px #1C1B20;
  margin-top: -2vw;
}
.body .container .main .realtimeWeatherArea .realtimeWeather ul .weatherType {
  text-align: center;
  width: 10vw;
  font-size: 1.2vw;
}
.body .container .main .realtimeWeatherArea .realtimeWeather ul .weather-info {
  margin-top: 1vw;
  width: 10vw;
  height: 5.5vw;
  gap: 1.2vw;
  text-align: center;
}
.body .container .main .realtimeWeatherArea .realtimeWeather ul .weather-info .winfoB {
  position: relative;
  margin: auto;
}
.body .container .main .realtimeWeatherArea .realtimeWeather ul .weather-info .winfoB p {
  margin-top: 0.5vw;
  font-size: 0.6vw;
  text-align: center;
}
.body .container .main .realtimeWeatherArea .realtimeWeather ul .weather-info .winfoB .windIcon {
  width: 2vw;
  height: 2vw;
  display: block;
  margin: auto;
  background-image: url(./assets/img/Wind.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.body .container .main .realtimeWeatherArea .realtimeWeather ul .weather-info .winfoB .humidityIcon {
  width: 2vw;
  height: 2vw;
  display: block;
  margin: auto;
  background-image: url(./assets/img/Dew.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.body .container .main .perceived {
  width: 100%;
  height: 30%;
  margin: 0 auto;
  border-radius: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  background: none;
  box-shadow: 5px 5px 10px #68747c;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  opacity: 90%;
  padding: 2vw;
}
.body .container .main .perceived .thermometerIconbox {
  display: flex;
  width: 100%;
  height: 6.5vw;
}
.body .container .main .perceived .thermometerIconbox .thermometerIcon {
  width: 5vw;
  height: 6.2vw;
  margin-left: -1vw;
  margin-right: 1vw;
  background-image: url(./assets/img/ThermometerQuarter.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.body .container .main .perceived .thermometerIconbox div {
  text-align: center;
  font-size: 1vw;
  font-weight: bold;
  font-family: "Nanum Gothic", serif;
  font-weight: 600;
  color: white;
}
.body .container .main .perceived .thermometerIconbox div p {
  margin-top: 1vw;
  font-size: 1.1vw;
  font-weight: bold;
  font-family: "Nanum Gothic", serif;
  font-weight: 600;
  color: white;
}
.body .container .main .perceived .suggestion {
  text-align: center;
}
.body .container .main .perceived .suggestion .suggestionT {
  font-size: 1vw;
  font-weight: bold;
  margin-top: -0.5vh;
  font-family: "Nanum Gothic", serif;
  font-weight: 600;
  color: white;
  margin-bottom: 1vh;
}
.body .container .main .perceived .suggestion .suggestionM {
  font-size: 0.7vw;
}
.body .container .secondSection {
  width: 35%;
  height: 44vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.body .container .secondSection .b1 {
  width: 100%;
  height: 63%;
  border-radius: 10px;
  background: none;
  box-shadow: 5px 5px 10px #68747c;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  opacity: 90%;
  overflow: hidden;
  position: relative;
}
.body .container .secondSection .b1 .map {
  width: 25vw;
  height: 100%;
  top: -4%;
  left: 4%;
  position: absolute;
}
.body .container .secondSection .b1 .map .koreaMap {
  stroke: #0088ff;
  fill: #ffffff;
}
.body .container .secondSection .b1 .map .koreaMap.active {
  fill: #0088ff;
  stroke: #0088ff;
  stroke-width: 3;
}
.body .container .secondSection .b1 .map .koreaMap:hover {
  fill: #0088ff;
  cursor: pointer;
}
.body .container .secondSection .b2 {
  width: 100%;
  border-radius: 10px;
  background: none;
  box-shadow: 5px 5px 10px #68747c;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  opacity: 90%;
  height: 30%;
}
.body .container .secondSection .b2 .text {
  font-size: 1vw;
  text-align: center;
  margin: 0.54vw 0;
}
.body .container .secondSection .b2 .chart {
  height: 9vw !important;
}
.body .container .secondSection .b2 .chart .grdt #colorTemp {
  height: 100px !important;
}
.body .container .secondSection .b2 .chart .grdt #colorTemp .grdt1 {
  stop-color: #92c2f6;
  height: 100px;
}
.body .container .secondSection .b2 .chart .grdt #colorTemp .grdt2 {
  stop-color: #0d52d2;
  height: 100px;
}
.body .container .secondSection .b2 .chart .chartline {
  stroke: #1269d4;
}
.body .container .secondSection .b2 .chartInfo {
  width: 30.4vw;
  height: 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0.5vw;
  margin-top: 0.3vw;
}
.body .container .secondSection .b2 .chartInfo .text-center {
  text-align: center;
  font-size: 0.7vw;
}
.body .container .secondSection .b2 .chartInfo .text-center .text-sm {
  color: #000;
  font-size: 0.8vw;
  text-align: center;
}
.body .container .thirdSection {
  width: 45%;
  height: 44vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.body .container .thirdSection .c {
  width: 100%;
  height: 13vw;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.body .container .thirdSection .c .recharts-responsive-container {
  position: absolute;
  width: 7% !important;
  top: 3.7vw;
  left: 5vw;
  margin: auto;
}
.body .container .thirdSection .c .c2-1,
.body .container .thirdSection .c .c2-2,
.body .container .thirdSection .c .c2-3 {
  width: 32%;
  border-radius: 10px;
  background: none;
  box-shadow: 5px 5px 10px #68747c;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  opacity: 90%;
}
.body .container .thirdSection .c .c2-1 span,
.body .container .thirdSection .c .c2-2 span,
.body .container .thirdSection .c .c2-3 span {
  display: inline-block;
  width: 50%;
  text-align: right;
}
.body .container .thirdSection .c .c2-1 .textLeft,
.body .container .thirdSection .c .c2-2 .textLeft,
.body .container .thirdSection .c .c2-3 .textLeft {
  width: 30%;
  padding-right: 20%;
}
.body .container .thirdSection .c .c2-1 .allhighestprecipitation,
.body .container .thirdSection .c .c2-2 .allhighestprecipitation,
.body .container .thirdSection .c .c2-3 .allhighestprecipitation {
  z-index: 2px;
  font-size: 1.5vw;
  line-height: 9vw;
  text-align: center;
}
.body .container .thirdSection .c .c2-1 .ml,
.body .container .thirdSection .c .c2-2 .ml,
.body .container .thirdSection .c .c2-3 .ml {
  text-align: center;
  position: absolute;
  top: 8.2vw;
  left: 4.6vw;
  font-size: 1vw;
  text-align: center;
}
.body .container .thirdSection .c .c2-1 .circleperTitle,
.body .container .thirdSection .c .c2-2 .circleperTitle,
.body .container .thirdSection .c .c2-3 .circleperTitle {
  margin-top: 1vw;
  text-align: center;
  font-size: 1.2vw;
  font-weight: bold;
  font-family: "Nanum Gothic", serif;
  font-family: "Nanum Gothic", serif;
  font-weight: 600;
  color: white;
}
.body .container .thirdSection .c .c2-1 .daytemer,
.body .container .thirdSection .c .c2-2 .daytemer,
.body .container .thirdSection .c .c2-3 .daytemer {
  text-align: center;
  font-size: 0.8vw;
  margin-top: 2vw;
}
.body .container .thirdSection .c .c2-1 .daytemer .daytemerMax,
.body .container .thirdSection .c .c2-2 .daytemer .daytemerMax,
.body .container .thirdSection .c .c2-3 .daytemer .daytemerMax {
  margin-bottom: 0.5vw;
}
.body .container .thirdSection .c .c2-1 .daytemer .daytemerMin,
.body .container .thirdSection .c .c2-2 .daytemer .daytemerMin,
.body .container .thirdSection .c .c2-3 .daytemer .daytemerMin {
  margin-bottom: 0.5vw;
}
.body .container .thirdSection .c .c2-1 .dayprec,
.body .container .thirdSection .c .c2-2 .dayprec,
.body .container .thirdSection .c .c2-3 .dayprec {
  text-align: center;
  margin-bottom: 0.5vw;
  font-size: 0.8vw;
}
.body .container .thirdSection .c .c2-1 .dayhumidity,
.body .container .thirdSection .c .c2-2 .dayhumidity,
.body .container .thirdSection .c .c2-3 .dayhumidity {
  text-align: center;
  margin-bottom: 0.5vw;
  font-size: 0.8vw;
}
.body .container .thirdSection .c .c2-1 .circleBox,
.body .container .thirdSection .c .c2-2 .circleBox,
.body .container .thirdSection .c .c2-3 .circleBox {
  width: 100%;
  position: relative;
  margin-top: -2vw;
}
.body .container .thirdSection .c .c2-1 .circleBox .circle,
.body .container .thirdSection .c .c2-2 .circleBox .circle,
.body .container .thirdSection .c .c2-3 .circleBox .circle {
  display: block;
  width: 12vw;
  height: 12vw;
  margin: auto;
}
.body .container .thirdSection .c .c2-1 .circleBox .circle .circleIn,
.body .container .thirdSection .c .c2-2 .circleBox .circle .circleIn,
.body .container .thirdSection .c .c2-3 .circleBox .circle .circleIn {
  stroke: #d0dee9;
}
.body .container .thirdSection .c .c2-1 .circleBox .circle .circleIn2,
.body .container .thirdSection .c .c2-2 .circleBox .circle .circleIn2,
.body .container .thirdSection .c .c2-3 .circleBox .circle .circleIn2 {
  stroke: #00FFFF;
}
.body .container .thirdSection .c .c2-1 .circleBox .circleper,
.body .container .thirdSection .c .c2-2 .circleBox .circleper,
.body .container .thirdSection .c .c2-3 .circleBox .circleper {
  position: absolute;
  top: 5.3vw;
  left: 5vw;
  font-size: 2vw;
  font-weight: bold;
  text-shadow: 10px 10px 10px #1C1B20;
  font-family: "Nanum Gothic", serif;
  font-family: "Nanum Gothic", serif;
  font-weight: 600;
  color: white;
}
.body .container .thirdSection .c1 {
  width: 100%;
  height: 30%;
  border-radius: 10px;
  background: none;
  box-shadow: 5px 5px 10px #68747c;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  opacity: 90%;
  padding: 30px;
  box-sizing: border-box;
  position: relative;
}
.body .container .thirdSection .c1 Line {
  stroke: #746bb8;
}
.body .container .thirdSection .c1 .tgtitle {
  font-size: 1vw;
  position: absolute;
  top: -1.7vw;
  left: 15.6vw;
  font-weight: bold;
  font-family: "Nanum Gothic", serif;
  font-weight: 600;
  color: white;
}
.body .container .thirdSection .c1 .temperatureGraph {
  position: absolute;
  top: 2.5vw;
  left: 0;
  border-radius: 20px;
  margin: auto;
  display: block;
  width: 90%;
  height: 10vw !important;
  min-height: 120px;
}
.body .container .thirdSection .c1 .temperatureGraph ul {
  margin-left: 4vw !important;
}
.body .container .thirdSection .c1 .temperatureGraph span {
  font-size: 0.8vw !important;
}
.body .container .thirdSection .c2 {
  width: 100%;
  height: 30%;
  border-radius: 10px;
  background: none;
  box-shadow: 5px 5px 10px #68747c;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  opacity: 90%;
  padding: 10px 0 10px 0;
  font-size: 0.8vw;
  box-sizing: border-box;
  font-weight: bold;
  background-color: rgb(109, 145, 181);
}
.body .container .thirdSection .c2 .table::-webkit-scrollbar {
  width: 80%;
}
.body .container .thirdSection .c2 h2 {
  font-size: 1vw;
  font-weight: bold;
  margin-bottom: 5px;
  font-family: "Nanum Gothic", serif;
  font-weight: 600;
  color: white;
}
.body .container .thirdSection .c2 .table {
  width: 90%;
  height: 80%;
  padding: 1vw !important;
  margin: auto;
  border: 1px solid #fff;
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: scroll;
}
.body .container .thirdSection .c2 .table .tableMain .customthead .customtr .customth {
  border-bottom: 1px solid #bdc5cc;
  color: #ffffff;
}
.body .container .thirdSection .customtbody .customtr {
  border-bottom: 2px solid #0185f8;
  color: #ffffff;
}
.body .container .thirdSection .customtbody .customtr .customtd {
  text-align: right;
  padding-right: 10px;
  width: 20vw;
  word-break: break-all;
  border-bottom: 1px solid #dedede;
  color: #ffffff;
}

.body.dark {
  margin: 0 auto;
  width: 99vw;
  height: 100vh;
  display: block;
  background-image: url(./assets/img/dark3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.body.dark .container {
  margin: 0 auto;
  height: 100vh;
  width: 90vw;
  padding-top: 20px;
  box-sizing: border-box;
}
.body.dark .container .header {
  width: 100%;
  height: 60px;
  background-color: #fff;
  background-color: #303136;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #131212;
}
.body.dark .container .header button {
  border-radius: 30px;
  height: 30px;
  line-height: 10px;
  color: #ffffff;
  margin: 0.8vw;
  background-color: #4A494E;
  border: none;
}
.body.dark .container .header p {
  font-size: 25px;
  font-family: "Nanum Gothic", serif;
  font-weight: 600;
  color: white;
  line-height: 60px;
  margin-left: 50px;
}
.body.dark .container .main {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
.body.dark .container .main .firstSection {
  width: 15%;
  height: 44vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.body.dark .container .main .firstSection .selectTime {
  width: 100%;
  height: 21%;
  margin: 0 auto;
  border-radius: 10px;
  background: none;
  box-shadow: 5px 5px 10px #68747c;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  opacity: 90%;
  box-sizing: border-box;
}
.body.dark .container .main .firstSection .selectTime .selectValuebox {
  width: 10vw;
  height: 100%;
  margin: auto;
  text-align: center;
  flex-direction: column;
}
.body.dark .container .main .firstSection .selectTime .sb {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 50%;
}
.body.dark .container .main .firstSection .selectTime .selectValue,
.body.dark .container .main .firstSection .selectTime .mapSelect {
  width: 10vw;
  height: 1.5vw;
  border-radius: 20px;
  font-size: 0.7vw;
  text-align: center;
  border: 1px solid #aaa;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #000 !important;
}
.body.dark .container .main .firstSection .selectTime .selectValue:hover,
.body.dark .container .main .firstSection .selectTime .mapSelect:hover {
  border-color: #0648AB;
  background: #f0f8ff;
  color: #000;
}
.body.dark .container .main .firstSection .selectTime .selectValue option,
.body.dark .container .main .firstSection .selectTime .mapSelect option {
  color: #333;
  font-size: 0.7vw;
}
.body.dark .container .main .realtimeWeatherArea {
  width: 100%;
  height: 18vw;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 20px;
  background: linear-gradient(#6D4AE3, #6d069d);
  padding: 20px;
  box-sizing: border-box;
}
.body.dark .container .main .realtimeWeatherArea .realtimeWeather {
  height: 100%;
  font-size: 1.1vw;
}
.body.dark .container .main .realtimeWeatherArea .realtimeWeather h2 {
  font-family: "Nanum Gothic", serif;
  font-weight: 600;
  color: white;
  font-weight: normal;
  text-align: center;
}
.body.dark .container .main .realtimeWeatherArea .realtimeWeather h2 p {
  font-size: 0.9vw;
}
.body.dark .container .main .realtimeWeatherArea .realtimeWeather ul {
  width: 10vw;
  height: 100%;
  margin: auto;
  list-style: none;
  margin-top: 2vh;
}
.body.dark .container .main .realtimeWeatherArea .realtimeWeather ul .icon {
  width: 6vw;
  height: 32%;
  margin: -1vw auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.body.dark .container .main .realtimeWeatherArea .realtimeWeather ul .temperature {
  text-align: center;
  font-size: 2.2vw;
  font-weight: bold;
  text-shadow: 7px 7px 20px #1C1B20;
  margin-top: -2vw;
  font-family: "Nanum Gothic", serif;
  font-weight: 600;
  color: white;
}
.body.dark .container .main .realtimeWeatherArea .realtimeWeather ul .weatherType {
  text-align: center;
  width: 10vw;
  font-size: 1.2vw;
}
.body.dark .container .main .realtimeWeatherArea .realtimeWeather ul .weather-info {
  margin-top: 1vw;
  width: 10vw;
  height: 5.5vw;
  text-align: center;
}
.body.dark .container .main .realtimeWeatherArea .realtimeWeather ul .weather-info .winfoB {
  position: relative;
  margin: auto;
}
.body.dark .container .main .realtimeWeatherArea .realtimeWeather ul .weather-info .winfoB p {
  margin-top: 0.5vw;
  font-size: 0.6vw;
  text-align: center;
}
.body.dark .container .main .perceived {
  width: 100%;
  height: 30%;
  margin: 0 auto;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: #303136;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #131212;
  padding: 2vw;
}
.body.dark .container .main .perceived .thermometerIconbox {
  display: flex;
  width: 100%;
  height: 6.5vw;
}
.body.dark .container .main .perceived .thermometerIconbox .thermometerIcon {
  width: 5vw;
  height: 6.2vw;
  margin-left: -1vw;
  margin-right: 1vw;
  background-image: url(./assets/img/ThermometerQuarter.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.body.dark .container .main .perceived .thermometerIconbox div {
  text-align: center;
  font-size: 1vw;
  font-weight: bold;
  font-family: "Nanum Gothic", serif;
  font-weight: 600;
  color: white;
}
.body.dark .container .main .perceived .thermometerIconbox div p {
  margin-top: 1vw;
  font-size: 1vw;
  font-weight: bold;
  font-family: "Nanum Gothic", serif;
  font-weight: 600;
  color: white;
}
.body.dark .container .main .perceived .suggestion {
  text-align: center;
}
.body.dark .container .main .perceived .suggestion .suggestionT {
  font-family: "Nanum Gothic", serif;
  font-weight: 600;
  color: white;
  font-size: 1vw;
  font-weight: bold;
  margin-top: -0.5vh;
  margin-bottom: 1vh;
}
.body.dark .container .main .perceived .suggestion .suggestionM {
  font-size: 0.7vw;
}
.body.dark .container .secondSection {
  width: 35%;
  height: 44vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.body.dark .container .secondSection .b1 {
  width: 100%;
  height: 63%;
  background-color: #303136;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #131212;
  overflow: hidden;
  position: relative;
  opacity: 90%;
}
.body.dark .container .secondSection .b1 .map {
  width: 25vw;
  height: 100%;
  top: -4%;
  left: 4%;
  position: absolute;
}
.body.dark .container .secondSection .b1 .map .koreaMap {
  stroke: #780aa7;
  fill: #ffffff;
}
.body.dark .container .secondSection .b1 .map .koreaMap.active {
  fill: #ffa600;
  stroke: #ffa600;
  stroke-width: 3;
}
.body.dark .container .secondSection .b1 .map .koreaMap:hover {
  fill: #ffa600;
  cursor: pointer;
}
.body.dark .container .secondSection .b2 {
  width: 100%;
  background-color: #303136;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #131212;
  height: 30%;
}
.body.dark .container .secondSection .b2 .text {
  font-size: 1vw;
  text-align: center;
  margin: 0.54vw 0;
}
.body.dark .container .secondSection .b2 .chart {
  height: 9vw !important;
}
.body.dark .container .secondSection .b2 .chart .grdt #colorTemp {
  height: 100px !important;
}
.body.dark .container .secondSection .b2 .chart .grdt #colorTemp .grdt1 {
  stop-color: #d392f6;
  height: 100px;
}
.body.dark .container .secondSection .b2 .chart .grdt #colorTemp .grdt2 {
  stop-color: #7a28cb;
  height: 100px;
}
.body.dark .container .secondSection .b2 .chart .chartline {
  stroke: #7a28cb;
}
.body.dark .container .secondSection .b2 .chartInfo {
  width: 30.4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0.5vw;
}
.body.dark .container .secondSection .b2 .chartInfo .text-center {
  margin-top: -0.6vw;
  font-size: 0.7vw;
}
.body.dark .container .secondSection .b2 .chartInfo .text-center .text-sm {
  color: #ffffff;
  font-size: 0.8vw;
  text-align: center;
}
.body.dark .container .thirdSection {
  width: 45%;
  height: 44vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.body.dark .container .thirdSection .c {
  width: 100%;
  height: 13vw;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.body.dark .container .thirdSection .c .recharts-responsive-container {
  position: absolute;
  width: 7% !important;
  top: 3.7vw;
  left: 5vw;
  margin: auto;
}
.body.dark .container .thirdSection .c .c2-1,
.body.dark .container .thirdSection .c .c2-2,
.body.dark .container .thirdSection .c .c2-3 {
  width: 32%;
  background-color: #303136;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #131212;
}
.body.dark .container .thirdSection .c .c2-1 span,
.body.dark .container .thirdSection .c .c2-2 span,
.body.dark .container .thirdSection .c .c2-3 span {
  display: inline-block;
  width: 50%;
  text-align: right;
}
.body.dark .container .thirdSection .c .c2-1 .textLeft,
.body.dark .container .thirdSection .c .c2-2 .textLeft,
.body.dark .container .thirdSection .c .c2-3 .textLeft {
  width: 30%;
  padding-right: 20%;
}
.body.dark .container .thirdSection .c .c2-1 .allhighestprecipitation,
.body.dark .container .thirdSection .c .c2-2 .allhighestprecipitation,
.body.dark .container .thirdSection .c .c2-3 .allhighestprecipitation {
  z-index: 2px;
  font-size: 1.5vw;
  line-height: 9vw;
  text-align: center;
}
.body.dark .container .thirdSection .c .c2-1 .circleperTitle,
.body.dark .container .thirdSection .c .c2-2 .circleperTitle,
.body.dark .container .thirdSection .c .c2-3 .circleperTitle {
  margin-top: 1vw;
  text-align: center;
  font-size: 1.2vw;
  font-weight: bold;
  font-family: "Nanum Gothic", serif;
  font-family: "Nanum Gothic", serif;
  font-weight: 600;
  color: white;
}
.body.dark .container .thirdSection .c .c2-1 .daytemer,
.body.dark .container .thirdSection .c .c2-2 .daytemer,
.body.dark .container .thirdSection .c .c2-3 .daytemer {
  text-align: center;
  font-size: 0.8vw;
  margin-top: 2vw;
}
.body.dark .container .thirdSection .c .c2-1 .daytemer .daytemerMax,
.body.dark .container .thirdSection .c .c2-2 .daytemer .daytemerMax,
.body.dark .container .thirdSection .c .c2-3 .daytemer .daytemerMax {
  margin-bottom: 0.5vw;
}
.body.dark .container .thirdSection .c .c2-1 .daytemer .daytemerMin,
.body.dark .container .thirdSection .c .c2-2 .daytemer .daytemerMin,
.body.dark .container .thirdSection .c .c2-3 .daytemer .daytemerMin {
  margin-bottom: 0.5vw;
}
.body.dark .container .thirdSection .c .c2-1 .dayprec,
.body.dark .container .thirdSection .c .c2-2 .dayprec,
.body.dark .container .thirdSection .c .c2-3 .dayprec {
  text-align: center;
  margin-bottom: 0.5vw;
  font-size: 0.8vw;
}
.body.dark .container .thirdSection .c .c2-1 .dayhumidity,
.body.dark .container .thirdSection .c .c2-2 .dayhumidity,
.body.dark .container .thirdSection .c .c2-3 .dayhumidity {
  text-align: center;
  margin-bottom: 0.5vw;
  font-size: 0.8vw;
}
.body.dark .container .thirdSection .c .c2-1 .circleBox,
.body.dark .container .thirdSection .c .c2-2 .circleBox,
.body.dark .container .thirdSection .c .c2-3 .circleBox {
  width: 100%;
  position: relative;
  margin-top: -2vw;
}
.body.dark .container .thirdSection .c .c2-1 .circleBox .circle,
.body.dark .container .thirdSection .c .c2-2 .circleBox .circle,
.body.dark .container .thirdSection .c .c2-3 .circleBox .circle {
  display: block;
  width: 12vw;
  height: 12vw;
  margin: auto;
}
.body.dark .container .thirdSection .c .c2-1 .circleBox .circle .circleIn,
.body.dark .container .thirdSection .c .c2-2 .circleBox .circle .circleIn,
.body.dark .container .thirdSection .c .c2-3 .circleBox .circle .circleIn {
  stroke: #232324;
}
.body.dark .container .thirdSection .c .c2-1 .circleBox .circle .circleIn2,
.body.dark .container .thirdSection .c .c2-2 .circleBox .circle .circleIn2,
.body.dark .container .thirdSection .c .c2-3 .circleBox .circle .circleIn2 {
  stroke: #6D4AE3;
}
.body.dark .container .thirdSection .c .c2-1 .circleBox .circleper,
.body.dark .container .thirdSection .c .c2-2 .circleBox .circleper,
.body.dark .container .thirdSection .c .c2-3 .circleBox .circleper {
  position: absolute;
  top: 5.3vw;
  left: 5vw;
  font-size: 2vw;
  font-weight: bold;
  text-shadow: 10px 10px 10px #1C1B20;
  font-family: "Nanum Gothic", serif;
}
.body.dark .container .thirdSection .c1 {
  width: 100%;
  height: 30%;
  background-color: #303136;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #131212;
  padding: 30px;
  box-sizing: border-box;
  position: relative;
}
.body.dark .container .thirdSection .c1 .tgtitle {
  font-size: 1vw;
  position: absolute;
  top: -1.7vw;
  left: 15.6vw;
  font-weight: bold;
  font-family: "Nanum Gothic", serif;
  font-weight: 600;
  color: white;
}
.body.dark .container .thirdSection .c1 recharts-legend-wrapper {
  left: 15px;
}
.body.dark .container .thirdSection .c1 .temperatureGraph {
  position: absolute;
  top: 2.5vw;
  left: 0;
  border-radius: 20px;
  margin: auto;
  display: block;
  width: 90%;
  height: 10vw !important;
  min-height: 120px;
}
.body.dark .container .thirdSection .c1 .temperatureGraph ul {
  margin-left: 4vw !important;
}
.body.dark .container .thirdSection .c1 .temperatureGraph span {
  font-size: 0.8vw !important;
}
.body.dark .container .thirdSection .c2 {
  width: 100%;
  height: 30%;
  background-color: #303136;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #131212;
  box-sizing: border-box;
  font-weight: bold;
}
.body.dark .container .thirdSection .c2 .table::-webkit-scrollbar {
  width: 80%;
}
.body.dark .container .thirdSection .c2 h2 {
  font-size: 1vw;
  font-weight: bold;
  margin-bottom: 5px;
  font-family: "Nanum Gothic", serif;
  font-weight: 600;
  color: white;
}
.body.dark .container .thirdSection .c2 .table {
  width: 90%;
  height: 80%;
  margin: auto;
  border: 1px solid #fff;
  border-radius: 20px;
  overflow-y: scroll;
  overflow-x: scroll;
}
.body.dark .container .thirdSection .c2 .table .tableMain .customthead .customtr .customth {
  border-bottom: 1px solid #bdc5cc;
}
.body.dark .container .thirdSection .c2 .table .tableMain .customtbody .customtr {
  border-bottom: 2px solid #0185f8;
}
.body.dark .container .thirdSection .c2 .table .tableMain .customtbody .customtr .customtd {
  width: 200px;
  word-break: break-all;
  border-bottom: 2px solid #646363;
}/*# sourceMappingURL=App.css.map */