@mixin titleFont() {
    font-family: "Nanum Gothic", serif;
    font-weight: 600;
    color: white;
}

@mixin backgoundSet() {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin objcolor() {
    background-color: #303136;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #535353;

}

@mixin backblur2() {
    border-radius: 10px;
    background: none;
    box-shadow: 5px 5px 10px #506472;
    backdrop-filter: blur(30px);
    opacity: 90%;

}

$MC: #e0dfdf;

@media (max-width:520px) {
    .body {
        height: fit-content;
        padding-bottom: 5vw;
        background-repeat: repeat-y;

        .container {

            // background-color: #3b2b2b;
            .header {
                p {
                    font-size: 4vw;
                    text-align: center;
                    margin: 0;
                    border-radius: 10px;
                }

                button {
                    width: 70px;
                    border-radius: 10px;
                    height: 20px;
                    line-height: 10px;
                    font-size: 2vw;
                    color: #1C1B20;
                    margin: 3.7vw;
                    background-color: #cddcf8;
                    border: none;
                }
            }

            .main {
                display: block;

                .firstSection {
                    margin-top: -7vw;
                    width: 100%;
                    height: fit-content;
                    display: flex;
                    align-items: center;
                    padding: 0 !important;
                    box-sizing: border-box;

                    .selectTime {
                        width: 100%;
                        height: 40px;
                        margin: 0 auto;
                        margin-top: -0.4vw;
                        padding: 2vw !important;
                        border-radius: 10px;
                        @include backblur2();
                        box-sizing: border-box;

                        margin-bottom: 4vw;

                        .selectValuebox {
                            width: 100%;
                            margin: 1.5vw auto;
                            text-align: center;
                            display: flex;
                            justify-content: space-between;

                        }



                        .selectValue,
                        .mapSelect {
                            width: 20vw;
                            height: 3vw;
                            border-radius: 20px;
                            font-size: 2vw;
                            text-align: center;
                            border: 1px solid #aaa;
                            background: #fff;
                            cursor: pointer;
                            transition: all 0.3s ease;
                            color: #000 !important;

                        }


                        .selectValue:hover,
                        .mapSelect:hover {
                            border-color: #0648AB;
                            background: #f0f8ff;
                            color: #000;

                        }

                        .selectValue option,
                        .mapSelect option {
                            color: #333;

                            font-size: 0.7vw;
                        }


                    }

                    .realtimeWeatherArea {
                        width: 48%;
                        height: 280px;
                        margin: 0 auto;
                        border-radius: 10px;
                        background: linear-gradient(#ccc8bd, #0185f8);
                        padding: 20px;
                        box-sizing: border-box;



                        .realtimeWeather {
                            height: 100%;
                            font-size: 4vw;

                            h2 {
                                @include titleFont;
                                text-align: center;

                            }

                            ul {
                                width: 10vw;
                                height: 100%;
                                margin: auto;
                                list-style: none;
                                margin-top: 2vh;

                                .icon {
                                    width: 20vw;
                                    height: 10vh;
                                    margin: 0 auto;
                                    margin-left: -4vw;
                                    background-image: url(./assets/img/sunny.png);
                                    @include backgoundSet();
                                }

                                .temperature {
                                    text-align: center;
                                    font-size: 8vw;
                                    font-weight: bold;
                                    text-shadow: 7px 7px 20px #1C1B20;
                                    margin-top: -10vw;
                                    margin-left: -3vw;
                                }

                                .weather-info {
                                    width: 300%;
                                    margin-left: -9.6vw;

                                    .winfoB {
                                        margin: auto;

                                        p {
                                            font-size: 2vw
                                        }

                                        .windIcon {
                                            width: 3vh;
                                            height: 6vw;
                                            display: block;
                                            margin: auto;
                                            background-image: url(./assets/img/Wind.png);
                                            @include backgoundSet();
                                        }

                                        .humidityIcon {
                                            width: 3vh;
                                            height: 6vw;
                                            display: block;
                                            margin: auto;
                                            background-image: url(./assets/img/Dew.png);
                                            @include backgoundSet();

                                        }

                                        .VisibilityIcon {
                                            width: 3vh;
                                            height: 6vw;
                                            display: block;
                                            margin: auto;
                                            background-image: url(./assets/img/Rain2.png);
                                            @include backgoundSet();

                                        }
                                    }

                                }

                            }
                        }
                    }

                    .perceived {

                        width: 48%;
                        height: 280px;
                        margin: 0 auto;
                        border-radius: 10px;
                        background: linear-gradient(#ccc8bd, #ffab04, #ff8604);
                        box-sizing: border-box;
                        padding: 2vw;

                        .thermometerIconbox {
                            width: 100%;
                            height: 150px;
                            position: relative;

                            .thermometerIcon {
                                margin-top: 14vw;
                                margin-left: 1vw;
                                width: 17vw;
                                height: 10vh;
                                background-image: url(./assets/img/ThermometerQuarter.png);
                                @include backgoundSet();
                            }

                            div {
                                text-align: center;
                                @include titleFont;
                                font-size: 5vw;
                                font-weight: bold;
                                position: absolute;
                                top: 3vw;
                                left: 9vw;

                                p {
                                    margin-top: 1vw;
                                    font-size: 4vw;
                                    font-weight: bold;
                                }
                            }

                        }

                        .suggestion {
                            text-align: center;

                            .suggestionT {
                                font-size: 4vw;
                                font-weight: bold;
                                margin-top: 4vh;
                                margin-bottom: 1vh;

                            }

                            .suggestionM {
                                font-size: 2.5vw;
                            }


                        }

                    }
                }

                .secondSection {
                    width: 100%;
                    height: 63%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    padding: 0;

                    .b1 {
                        width: 100%;
                        height: 50%;
                        margin: 0 auto;
                        margin-top: -7vw;
                        @include backblur2();
                        overflow: hidden;
                        position: relative;
                        // background: linear-gradient(#bdc5cc, #0185f8);
                        opacity: 90%;

                        .mapSelect {}

                        .map {
                            width: 300px;
                            height: 250px;
                            top: -4%;
                            left: 8%;
                            position: absolute;

                            .koreaMap {
                                stroke: #0088ff;
                                fill: #ffffff;
                            }

                            .koreaMap:hover {

                                fill: #046b1e;
                                cursor: pointer;
                            }
                        }

                    }

                    .b2 {
                        width: 100%;
                        margin: 0 auto;
                        margin-top: -17vw;
                        @include backblur2();

                        height: 35%;


                        .chart {
                            height: 150px !important;

                            Line {
                                stroke: #3d4754;


                            }

                            .chartline {
                                stroke: #1269d4;

                            }
                        }


                        .chartInfo {
                            width: 88vw;
                            justify-content: space-between;
                            margin-left: 4vw;

                            .text-center {
                                margin-top: -0.6vw;
                                width: 20vw !important;
                                height: 20vw !important;

                                .text-sm {
                                    margin-left: -3vw;
                                    font-size: 2.3vw;
                                    text-align: center;
                                }
                            }
                        }





                    }
                }

                .thirdSection {
                    margin-top: 5vw;
                    width: 100%;
                    height: fit-content;
                    // background-color: #3f1d1d;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;

                    .c {
                        width: 100%;
                        height: 100%;
                        // background-color: #fff;
                        display: flex;
                        justify-content: space-between;


                        .c2-1,
                        .c2-2,
                        .c2-3 {
                            width: 32%;
                            height: 170px;
                            box-sizing: border-box;
                            background-color: black;
                            @include backblur2();


                            .circleperTitle {
                                text-align: center;
                                line-height: 50px;
                                font-size: 10px;
                                font-weight: bold;
                                font-family: "Nanum Gothic", serif;

                            }

                            .allhighestprecipitation {
                                z-index: 2px;
                                font-size: 4vw;
                                line-height: 15vw;
                                text-align: center;
                            }

                            .ml {
                                position: absolute;
                                top: 21vw;
                                left: 10.5vw;
                                font-size: 2vw;
                            }


                            .circleperTitle {
                                margin-top: 1vw;
                                text-align: center;
                                font-size: 2.5vw;
                                font-weight: bold;
                                font-family: "Nanum Gothic", serif;
                                @include titleFont();
                            }

                            .daytemer {
                                text-align: center;
                                font-size: 2vw;
                                margin-top: 2vw;

                                .daytemerMax {
                                    margin-bottom: 1vw;
                                }


                                .daytemerMin {
                                    margin-bottom: 1vw;
                                }

                            }

                            .dayprec {
                                text-align: center;
                                margin-bottom: 1vw;
                                font-size: 2vw;

                            }

                            .dayhumidity {
                                text-align: center;
                                margin-bottom: 1vw;
                                font-size: 2vw;

                            }

                            .circleBox {
                                width: 100%;
                                position: relative;
                                margin-top: -2vw;


                                .circle {
                                    display: block;
                                    width: 25vw;
                                    height: 25vw;
                                    margin: auto;
                                    margin-top: -7vw;

                                    .circleIn {
                                        stroke: #d0dee9;

                                    }


                                    .circleIn2 {
                                        stroke: #00FFFF;
                                    }

                                }

                                .circleper {
                                    position: absolute;
                                    top: 9vw;
                                    left: 8vw;
                                    font-size: 6vw;
                                    font-weight: bold;
                                    text-shadow: 10px 10px 10px #1C1B20;
                                    font-family: "Nanum Gothic", serif;
                                    @include titleFont();
                                }
                            }
                        }
                    }

                    .c1 {
                        width: 100%;
                        height: 180px;
                        @include backblur2();

                        padding: 30px;
                        box-sizing: border-box;
                        position: relative;
                        margin-top: 5vw;

                        Line {
                            stroke: #746bb8;
                        }


                        .tgtitle {
                            width: 65%;
                            line-height: 9vw;
                            font-size: 3vw;
                            text-align: center;
                            font-weight: bold;
                            @include titleFont();

                        }

                        .temperatureGraph {
                            position: absolute;
                            top: 10vw;
                            left: 0;
                            border-radius: 10px;
                            margin: auto;
                            display: block;
                            width: 90%;
                            height: 120px;
                        }



                    }

                    .c2 {
                        margin-top: 4vw;
                        width: 100%;
                        height: 180px;
                        @include backblur2();

                        margin-top: 5vw;
                        margin-bottom: 5vw;
                        text-align: center;
                        box-sizing: border-box;
                        font-weight: bold;

                        background-color: rgb(109, 145, 181);


                        .tgtitle2 {
                            font-size: 3vw !important;

                        }

                        h2 {
                            font-size: 1vw;
                            font-weight: bold;
                            margin-bottom: 5px;
                            @include titleFont();
                        }

                        .customtbody {
                            font-size: 0.8rem;
                            /* 모바일에서 글자 크기 조정 */
                        }

                        .tableMain {
                            .customthead {
                                .customtr {
                                    .customth {
                                        border-bottom: 1px solid #bdc5cc;
                                        color: #ffffff;


                                    }
                                }
                            }

                            .customtbody {
                                .customtr {
                                    border-bottom: 2px solid #0185f8;
                                    color: #ffffff;


                                    .customtd {

                                        width: 200px;
                                        word-break: break-all;
                                        border-bottom: 1px solid #dedede;
                                        color: #ffffff;


                                    }
                                }
                            }
                        }


                    }
                }
            }
        }
    }
}

@media (max-width:520px) {
    .body.dark {
        height: fit-content;
        padding-bottom: 5vw;
        background-repeat: repeat-y;

        .container {

            // background-color: #3b2b2b;
            .header {
                p {
                    font-size: 4vw;
                    text-align: center;
                    margin: 0;
                    border-radius: 10px;
                }

                button {
                    width: 70px;
                    border-radius: 10px;
                    height: 20px;
                    line-height: 10px;
                    font-size: 2vw;
                    color: #1C1B20;
                    margin: 3.7vw;
                    background-color: #4A494E;
                    border: none;
                }
            }

            .main {
                display: block;

                .firstSection {
                    margin-top: -7vw;
                    width: 100%;
                    height: fit-content;
                    display: flex;
                    align-items: center;
                    padding: 0 !important;
                    box-sizing: border-box;

                    .selectTime {
                        width: 100%;
                        height: 40px;
                        margin: auto;
                        padding: 2vw !important;
                        border-radius: 10px;
                        @include objcolor();
                        margin-bottom: 4vw;

                        .selectValuebox {
                            width: 100%;
                            margin: 1vw auto;
                            text-align: center;
                            display: flex;
                            justify-content: space-between;

                        }


                        .selectValue,
                        .mapSelect {
                            width: 20vw;
                            height: 3vw;
                            border-radius: 20px;
                            font-size: 2vw;
                            text-align: center;
                            border: 1px solid #aaa;
                            background: #fff;
                            cursor: pointer;
                            transition: all 0.3s ease;
                            color: #000 !important;

                        }


                        .selectValue:hover,
                        .mapSelect:hover {
                            border-color: #0648AB;
                            background: #f0f8ff;
                            color: #000;

                        }

                        .selectValue option,
                        .mapSelect option {
                            color: #333;
                            font-size: 0.7vw;
                        }



                    }

                    .realtimeWeatherArea {
                        width: 48%;
                        height: 280px;
                        margin: 0 auto;
                        border-radius: 10px;
                        background: linear-gradient(#6D4AE3, #6d069d);
                        box-sizing: border-box;



                        .realtimeWeather {
                            height: 100%;
                            font-size: 4vw;

                            h2 {
                                @include titleFont;
                                text-align: center;

                            }

                            ul {
                                width: 10vw;
                                height: 100%;
                                margin: auto;
                                list-style: none;
                                margin-top: 2vh;

                                .icon {
                                    width: 20vw;
                                    height: 10vh;
                                    margin: 0 auto;
                                    margin-left: -4vw;
                                    background-image: url(./assets/img/sunny.png);
                                    @include backgoundSet();
                                }

                                .temperature {
                                    text-align: center;
                                    font-size: 8vw;
                                    font-weight: bold;
                                    text-shadow: 7px 7px 20px #1C1B20;
                                    margin-top: -10vw;
                                    margin-left: -3vw;
                                }

                                .weather-info {
                                    width: 300%;
                                    margin-left: -9.6vw;

                                    .winfoB {
                                        margin: auto;

                                        p {
                                            font-size: 2vw
                                        }

                                        .windIcon {
                                            width: 3vh;
                                            height: 6vw;
                                            display: block;
                                            margin: auto;
                                            background-image: url(./assets/img/Wind.png);
                                            @include backgoundSet();
                                        }

                                        .humidityIcon {
                                            width: 3vh;
                                            height: 6vw;
                                            display: block;
                                            margin: auto;
                                            background-image: url(./assets/img/Dew.png);
                                            @include backgoundSet();

                                        }

                                        .VisibilityIcon {
                                            width: 3vh;
                                            height: 6vw;
                                            display: block;
                                            margin: auto;
                                            background-image: url(./assets/img/Rain2.png);
                                            @include backgoundSet();

                                        }
                                    }

                                }

                            }
                        }
                    }

                    .perceived {

                        width: 48%;
                        height: 280px;

                        margin: 0 auto;
                        border-radius: 10px;
                        box-sizing: border-box;
                        padding: 2vw;

                        .thermometerIconbox {
                            width: 100%;
                            height: 150px;
                            position: relative;

                            .thermometerIcon {
                                margin-top: 14vw;
                                margin-left: 1vw;
                                width: 17vw;
                                height: 10vh;
                                background-image: url(./assets/img/ThermometerQuarter.png);
                                @include backgoundSet();
                            }

                            div {
                                text-align: center;
                                @include titleFont;
                                font-size: 5vw;
                                font-weight: bold;
                                position: absolute;
                                top: 3vw;
                                left: 9vw;

                                p {
                                    margin-top: 1vw;
                                    font-size: 4vw;
                                    font-weight: bold;
                                }
                            }

                        }

                        .suggestion {
                            text-align: center;

                            .suggestionT {
                                font-size: 4vw;
                                font-weight: bold;
                                margin-top: 4vh;
                                margin-bottom: 1vh;

                            }

                            .suggestionM {
                                font-size: 2.5vw;
                            }


                        }

                    }
                }

                .secondSection {
                    width: 100%;
                    height: 63%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    padding: 0;

                    .b1 {
                        width: 100%;
                        height: 50%;
                        margin: 0 auto;
                        margin-top: -7vw;
                        @include objcolor();

                        overflow: hidden;
                        position: relative;
                        // background: linear-gradient(#bdc5cc, #0185f8);
                        opacity: 90%;

                        .mapSelect {}

                        .map {
                            width: 300px;
                            height: 250px;
                            top: -4%;
                            left: 8%;
                            position: absolute;

                            .koreaMap {
                                stroke: #0088ff;
                                fill: #ffffff;
                            }

                            .koreaMap:hover {

                                fill: #046b1e;
                                cursor: pointer;
                            }
                        }

                    }

                    .b2 {
                        width: 100%;
                        margin: 0 auto;
                        margin-top: -17vw;
                        @include objcolor();

                        height: 35%;


                        .chart {
                            height: 150px !important;

                            Line {
                                stroke: #3d4754;


                            }

                            .chartline {
                                stroke: #7b55f0;

                            }
                        }


                        .chartInfo {
                            width: 88vw;
                            justify-content: space-between;
                            margin-left: 4vw;

                            .text-center {
                                margin-top: -0.6vw;
                                width: 20vw !important;
                                height: 20vw !important;

                                .text-sm {
                                    margin-left: -3vw;
                                    font-size: 2.3vw;
                                    text-align: center;
                                }
                            }
                        }





                    }
                }

                .thirdSection {
                    margin-top: 5vw;
                    width: 100%;
                    height: fit-content;
                    // background-color: #3f1d1d;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;

                    .c {
                        width: 100%;
                        height: 100%;
                        // background-color: #fff;
                        display: flex;
                        justify-content: space-between;


                        .c2-1,
                        .c2-2,
                        .c2-3 {
                            width: 32%;
                            height: 170px;
                            box-sizing: border-box;
                            background-color: black;
                            @include objcolor();



                            .circleperTitle {
                                text-align: center;
                                line-height: 50px;
                                font-size: 10px;
                                font-weight: bold;
                                font-family: "Nanum Gothic", serif;

                            }

                            .allhighestprecipitation {
                                z-index: 2px;
                                font-size: 3vw;
                                line-height: 9vw;
                                text-align: center;
                            }

                            .ml {
                                position: absolute;
                                top: 21vw;
                                left: 10.5vw;
                                font-size: 2vw;
                            }


                            .circleperTitle {
                                margin-top: 1vw;
                                text-align: center;
                                font-size: 2.5vw;
                                font-weight: bold;
                                font-family: "Nanum Gothic", serif;
                                @include titleFont();
                            }

                            .daytemer {
                                text-align: center;
                                font-size: 2vw;
                                margin-top: 2vw;

                                .daytemerMax {
                                    margin-bottom: 1vw;
                                }


                                .daytemerMin {
                                    margin-bottom: 1vw;
                                }

                            }

                            .dayprec {
                                text-align: center;
                                margin-bottom: 1vw;
                                font-size: 2vw;

                            }

                            .dayhumidity {
                                text-align: center;
                                margin-bottom: 1vw;
                                font-size: 2vw;

                            }
                        }
                    }

                    .c1 {
                        width: 100%;
                        height: 180px;
                        @include objcolor();
                        padding: 30px;
                        box-sizing: border-box;
                        position: relative;
                        margin-top: 5vw;

                        Line {
                            stroke: #746bb8;
                        }


                        .tgtitle {
                            width: 65%;
                            line-height: 9vw;
                            font-size: 3vw;
                            text-align: center;
                            font-weight: bold;
                            @include titleFont();

                        }

                        .temperatureGraph {
                            position: absolute;
                            top: 10vw;
                            left: 0;
                            border-radius: 10px;
                            margin: auto;
                            display: block;
                            width: 90%;
                            height: 120px;
                        }



                    }

                    .c2 {
                        margin-top: 4vw;
                        width: 100%;
                        height: 180px;
                        @include objcolor();

                        margin-top: 5vw;
                        margin-bottom: 5vw;
                        text-align: center;
                        box-sizing: border-box;
                        font-weight: bold;



                        .tgtitle2 {
                            font-size: 3vw !important;

                        }

                        h2 {
                            font-size: 1vw;
                            font-weight: bold;
                            margin-bottom: 5px;
                            @include titleFont();
                        }

                        .customtbody {
                            font-size: 0.8rem;
                            /* 모바일에서 글자 크기 조정 */
                        }

                        .tableMain {
                            .customthead {
                                .customtr {
                                    .customth {
                                        border-bottom: 1px solid #bdc5cc;
                                        color: #ffffff;


                                    }
                                }
                            }

                            .customtbody {
                                .customtr {
                                    border-bottom: 2px solid #0185f8;
                                    color: #ffffff;


                                    .customtd {

                                        width: 200px;
                                        word-break: break-all;
                                        border-bottom: 1px solid #dedede;
                                        color: #ffffff;


                                    }
                                }
                            }
                        }


                    }
                }
            }
        }
    }
}