@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Nanum Gothic", serif;
  font-weight: 100;
  color: #e0dddd;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
}

.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg .tg-0lax {
  text-align: left;
  vertical-align: top;
}

@media (max-width: 520px) {
  .body {
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 5vw;
    background-repeat: repeat-y;
  }
  .body .container .header p {
    font-size: 4vw;
    text-align: center;
    margin: 0;
    border-radius: 10px;
  }
  .body .container .header button {
    width: 70px;
    border-radius: 10px;
    height: 20px;
    line-height: 10px;
    font-size: 2vw;
    color: #1C1B20;
    margin: 3.7vw;
    background-color: #cddcf8;
    border: none;
  }
  .body .container .main {
    display: block;
  }
  .body .container .main .firstSection {
    margin-top: -7vw;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    padding: 0 !important;
    box-sizing: border-box;
  }
  .body .container .main .firstSection .selectTime {
    width: 100%;
    height: 20px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #303136;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #535353;
    margin-bottom: 4vw;
  }
  .body .container .main .firstSection .selectTime .selectValuebox {
    width: 60%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: -2.5vw;
  }
  .body .container .main .firstSection .selectTime .selectValuebox .yearBox {
    display: flex;
  }
  .body .container .main .firstSection .selectTime .selectValuebox .yearBox .selectValue {
    text-align: center;
    width: 100px;
    height: 20px;
    border-radius: 10px;
    color: #1C1B20;
    font-size: 2vw;
  }
  .body .container .main .firstSection .selectTime .selectValuebox .mapBox {
    height: 0;
  }
  .body .container .main .firstSection .selectTime .selectValuebox .mapBox .mapSelect {
    vertical-align: top;
    text-align: center;
    width: 100px;
    height: 20px;
    color: #1C1B20;
    font-size: 2vw;
    border-radius: 10px;
  }
  .body .container .main .firstSection .realtimeWeatherArea {
    width: 47%;
    height: 250px;
    margin: 0 auto;
    border-radius: 10px;
    background: linear-gradient(#ccc8bd, #0185f8);
    padding: 20px;
    box-sizing: border-box;
  }
  .body .container .main .firstSection .realtimeWeatherArea .realtimeWeather {
    height: 100%;
    font-size: 4vw;
  }
  .body .container .main .firstSection .realtimeWeatherArea .realtimeWeather h2 {
    font-family: "Nanum Gothic", serif;
    font-weight: 600;
    color: white;
    text-align: center;
  }
  .body .container .main .firstSection .realtimeWeatherArea .realtimeWeather ul {
    width: 10vw;
    height: 100%;
    margin: auto;
    list-style: none;
    margin-top: 2vh;
  }
  .body .container .main .firstSection .realtimeWeatherArea .realtimeWeather ul .icon {
    width: 20vw;
    height: 10vh;
    margin: 0 auto;
    margin-left: -4vw;
    background-image: url(./assets/img/sunny.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .body .container .main .firstSection .realtimeWeatherArea .realtimeWeather ul .temperature {
    text-align: center;
    font-size: 8vw;
    font-weight: bold;
    text-shadow: 7px 7px 20px #1C1B20;
    margin-top: -10vw;
    margin-left: -3vw;
  }
  .body .container .main .firstSection .realtimeWeatherArea .realtimeWeather ul .weather-info {
    width: 300%;
    margin-left: -9.6vw;
  }
  .body .container .main .firstSection .realtimeWeatherArea .realtimeWeather ul .weather-info .winfoB {
    margin: auto;
  }
  .body .container .main .firstSection .realtimeWeatherArea .realtimeWeather ul .weather-info .winfoB p {
    font-size: 0.7vw;
  }
  .body .container .main .firstSection .realtimeWeatherArea .realtimeWeather ul .weather-info .winfoB .windIcon {
    width: 3vh;
    height: 6vw;
    display: block;
    margin: auto;
    background-image: url(./assets/img/Wind.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .body .container .main .firstSection .realtimeWeatherArea .realtimeWeather ul .weather-info .winfoB .humidityIcon {
    width: 3vh;
    height: 6vw;
    display: block;
    margin: auto;
    background-image: url(./assets/img/Dew.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .body .container .main .firstSection .realtimeWeatherArea .realtimeWeather ul .weather-info .winfoB .VisibilityIcon {
    width: 3vh;
    height: 6vw;
    display: block;
    margin: auto;
    background-image: url(./assets/img/Rain2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .body .container .main .firstSection .perceived {
    width: 47%;
    height: 250px;
    margin: 0 auto;
    border-radius: 10px;
    background: linear-gradient(#ccc8bd, #ffab04, #ff8604);
    box-sizing: border-box;
    padding: 2vw;
  }
  .body .container .main .firstSection .perceived .thermometerIconbox {
    width: 100%;
    height: 150px;
    position: relative;
  }
  .body .container .main .firstSection .perceived .thermometerIconbox .thermometerIcon {
    margin-top: 14vw;
    margin-left: 1vw;
    width: 17vw;
    height: 10vh;
    background-image: url(./assets/img/ThermometerQuarter.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .body .container .main .firstSection .perceived .thermometerIconbox div {
    text-align: center;
    font-family: "Nanum Gothic", serif;
    font-weight: 600;
    color: white;
    font-size: 5vw;
    font-weight: bold;
    position: absolute;
    top: 3vw;
    left: 9vw;
  }
  .body .container .main .firstSection .perceived .thermometerIconbox div p {
    margin-top: 1vw;
    font-size: 4vw;
    font-weight: bold;
  }
  .body .container .main .firstSection .perceived .suggestion {
    text-align: center;
  }
  .body .container .main .firstSection .perceived .suggestion .suggestionT {
    font-size: 4vw;
    font-weight: bold;
    margin-top: 2vh;
    margin-bottom: 1vh;
  }
  .body .container .main .firstSection .perceived .suggestion .suggestionM {
    font-size: 2.5vw;
  }
  .body .container .main .secondSection {
    width: 100%;
    height: 63%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
  }
  .body .container .main .secondSection .b1 {
    width: 100%;
    height: 50%;
    margin: 0 auto;
    margin-top: -7vw;
    background-color: #303136;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #535353;
    overflow: hidden;
    position: relative;
    opacity: 90%;
  }
  .body .container .main .secondSection .b1 .map {
    width: 300px;
    height: 250px;
    top: -4%;
    left: 8%;
    position: absolute;
  }
  .body .container .main .secondSection .b1 .map .koreaMap {
    stroke: #0088ff;
    fill: #ffffff;
  }
  .body .container .main .secondSection .b1 .map .koreaMap:hover {
    fill: #046b1e;
    cursor: pointer;
  }
  .body .container .main .secondSection .b2 {
    width: 100%;
    margin: 0 auto;
    margin-top: -17vw;
    background-color: #303136;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #535353;
    height: 35%;
  }
  .body .container .main .secondSection .b2 .chart {
    height: 150px !important;
  }
  .body .container .main .secondSection .b2 .chart Line {
    stroke: #3d4754;
  }
  .body .container .main .secondSection .b2 .chart .chartline {
    stroke: #1269d4;
  }
  .body .container .main .secondSection .b2 .chartInfo {
    width: 88vw;
    justify-content: space-between;
    margin-left: 4vw;
  }
  .body .container .main .secondSection .b2 .chartInfo .text-center {
    margin-top: -0.6vw;
    width: 20vw !important;
    height: 20vw !important;
  }
  .body .container .main .secondSection .b2 .chartInfo .text-center .text-sm {
    margin-left: -3vw;
    font-size: 2.3vw;
    text-align: center;
  }
  .body .container .main .thirdSection {
    margin-top: 5vw;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .body .container .main .thirdSection .c {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  .body .container .main .thirdSection .c .c2-1,
  .body .container .main .thirdSection .c .c2-2,
  .body .container .main .thirdSection .c .c2-3 {
    width: 32%;
    height: 170px;
    box-sizing: border-box;
    background-color: black;
    background-color: #303136;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #535353;
  }
  .body .container .main .thirdSection .c .c2-1 .circleperTitle,
  .body .container .main .thirdSection .c .c2-2 .circleperTitle,
  .body .container .main .thirdSection .c .c2-3 .circleperTitle {
    text-align: center;
    line-height: 50px;
    font-size: 10px;
    font-weight: bold;
    font-family: "Nanum Gothic", serif;
  }
  .body .container .main .thirdSection .c .c2-1 .allhighestprecipitation,
  .body .container .main .thirdSection .c .c2-2 .allhighestprecipitation,
  .body .container .main .thirdSection .c .c2-3 .allhighestprecipitation {
    z-index: 2px;
    font-size: 1.5vw;
    line-height: 9vw;
    text-align: center;
  }
  .body .container .main .thirdSection .c .c2-1 .highestprecipitationDay,
  .body .container .main .thirdSection .c .c2-2 .highestprecipitationDay,
  .body .container .main .thirdSection .c .c2-3 .highestprecipitationDay {
    font-size: 4vw;
    line-height: 6vw;
    font-weight: bold;
    text-align: center;
  }
  .body .container .main .thirdSection .c .c2-1 .highestprecipitation,
  .body .container .main .thirdSection .c .c2-2 .highestprecipitation,
  .body .container .main .thirdSection .c .c2-3 .highestprecipitation {
    font-size: 5vw;
    line-height: 2vw;
    text-align: center;
  }
  .body .container .main .thirdSection .c .c2-1 .circleBox,
  .body .container .main .thirdSection .c .c2-2 .circleBox,
  .body .container .main .thirdSection .c .c2-3 .circleBox {
    width: 100%;
    position: relative;
  }
  .body .container .main .thirdSection .c .c2-1 .circleBox .circle,
  .body .container .main .thirdSection .c .c2-2 .circleBox .circle,
  .body .container .main .thirdSection .c .c2-3 .circleBox .circle {
    display: block;
    width: 28vw;
    height: 28vw;
    margin: auto;
    margin-top: -6vw;
  }
  .body .container .main .thirdSection .c .c2-1 .circleBox .circleper,
  .body .container .main .thirdSection .c .c2-2 .circleBox .circleper,
  .body .container .main .thirdSection .c .c2-3 .circleBox .circleper {
    position: absolute;
    top: 12.5vw;
    left: 7.4vw;
    font-size: 7vw;
    font-weight: bold;
    text-shadow: 10px 10px 10px #1C1B20;
    font-family: "Nanum Gothic", serif;
  }
  .body .container .main .thirdSection .c1 {
    width: 100%;
    height: 150px;
    background-color: #303136;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #535353;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    margin-top: 5vw;
  }
  .body .container .main .thirdSection .c1 Line {
    stroke: #746bb8;
  }
  .body .container .main .thirdSection .c1 .tgtitle {
    width: 65%;
    line-height: 9vw;
    font-size: 3vw;
    text-align: center;
    font-weight: bold;
    font-family: "Nanum Gothic", serif;
    font-weight: 600;
    color: white;
  }
  .body .container .main .thirdSection .c1 .temperatureGraph {
    position: absolute;
    top: 10vw;
    left: 0;
    border-radius: 10px;
    margin: auto;
    display: block;
    width: 90%;
    height: 120px;
  }
  .body .container .main .thirdSection .c2 {
    margin-top: 4vw;
    width: 100%;
    height: 16vh;
    background-color: #303136;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #535353;
    margin-top: 5vw;
    margin-bottom: 5vw;
    text-align: center;
    box-sizing: border-box;
    font-weight: bold;
    background-color: rgb(109, 145, 181);
  }
  .body .container .main .thirdSection .c2 .tgtitle2 {
    font-size: 3vw !important;
  }
  .body .container .main .thirdSection .c2 h2 {
    font-size: 1vw;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: "Nanum Gothic", serif;
    font-weight: 600;
    color: white;
  }
  .body .container .main .thirdSection .c2 .customtbody {
    font-size: 0.8rem;
    /* 모바일에서 글자 크기 조정 */
  }
  .body .container .main .thirdSection .c2 .tableMain .customthead .customtr .customth {
    border-bottom: 1px solid #bdc5cc;
    color: #ffffff;
  }
  .body .container .main .thirdSection .c2 .tableMain .customtbody .customtr {
    border-bottom: 2px solid #0185f8;
    color: #ffffff;
  }
  .body .container .main .thirdSection .c2 .tableMain .customtbody .customtr .customtd {
    width: 200px;
    word-break: break-all;
    border-bottom: 1px solid #dedede;
    color: #ffffff;
  }
}
@media (max-width: 520px) {
  .body.dark {
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 5vw;
    background-repeat: repeat-y;
  }
  .body.dark .container .header p {
    font-size: 4vw;
    text-align: center;
    margin: 0;
    border-radius: 10px;
  }
  .body.dark .container .header button {
    width: 70px;
    border-radius: 10px;
    height: 20px;
    line-height: 10px;
    font-size: 2vw;
    color: #1C1B20;
    margin: 3.7vw;
    background-color: #4A494E;
    border: none;
  }
  .body.dark .container .main {
    display: block;
  }
  .body.dark .container .main .firstSection {
    margin-top: -7vw;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    padding: 0 !important;
    box-sizing: border-box;
  }
  .body.dark .container .main .firstSection .selectTime {
    width: 100%;
    height: 20px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #303136;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #535353;
    margin-bottom: 4vw;
  }
  .body.dark .container .main .firstSection .selectTime .selectValuebox {
    width: 60%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: -2.5vw;
  }
  .body.dark .container .main .firstSection .selectTime .selectValuebox .yearBox {
    display: flex;
  }
  .body.dark .container .main .firstSection .selectTime .selectValuebox .yearBox .selectValue {
    text-align: center;
    width: 100px;
    height: 20px;
    border-radius: 10px;
    color: #1C1B20;
    font-size: 2vw;
  }
  .body.dark .container .main .firstSection .selectTime .selectValuebox .mapBox {
    height: 0;
  }
  .body.dark .container .main .firstSection .selectTime .selectValuebox .mapBox .mapSelect {
    vertical-align: top;
    text-align: center;
    width: 100px;
    height: 20px;
    color: #1C1B20;
    font-size: 2vw;
    border-radius: 10px;
  }
  .body.dark .container .main .firstSection .realtimeWeatherArea {
    width: 47%;
    height: 250px;
    margin: 0 auto;
    border-radius: 10px;
    background: linear-gradient(#6D4AE3, #6d069d);
    padding: 20px;
    box-sizing: border-box;
  }
  .body.dark .container .main .firstSection .realtimeWeatherArea .realtimeWeather {
    height: 100%;
    font-size: 4vw;
  }
  .body.dark .container .main .firstSection .realtimeWeatherArea .realtimeWeather h2 {
    font-family: "Nanum Gothic", serif;
    font-weight: 600;
    color: white;
    text-align: center;
  }
  .body.dark .container .main .firstSection .realtimeWeatherArea .realtimeWeather ul {
    width: 10vw;
    height: 100%;
    margin: auto;
    list-style: none;
    margin-top: 2vh;
  }
  .body.dark .container .main .firstSection .realtimeWeatherArea .realtimeWeather ul .icon {
    width: 20vw;
    height: 10vh;
    margin: 0 auto;
    margin-left: -4vw;
    background-image: url(./assets/img/sunny.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .body.dark .container .main .firstSection .realtimeWeatherArea .realtimeWeather ul .temperature {
    text-align: center;
    font-size: 8vw;
    font-weight: bold;
    text-shadow: 7px 7px 20px #1C1B20;
    margin-top: -10vw;
    margin-left: -3vw;
  }
  .body.dark .container .main .firstSection .realtimeWeatherArea .realtimeWeather ul .weather-info {
    width: 300%;
    margin-left: -9.6vw;
  }
  .body.dark .container .main .firstSection .realtimeWeatherArea .realtimeWeather ul .weather-info .winfoB {
    margin: auto;
  }
  .body.dark .container .main .firstSection .realtimeWeatherArea .realtimeWeather ul .weather-info .winfoB p {
    font-size: 0.7vw;
  }
  .body.dark .container .main .firstSection .realtimeWeatherArea .realtimeWeather ul .weather-info .winfoB .windIcon {
    width: 3vh;
    height: 6vw;
    display: block;
    margin: auto;
    background-image: url(./assets/img/Wind.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .body.dark .container .main .firstSection .realtimeWeatherArea .realtimeWeather ul .weather-info .winfoB .humidityIcon {
    width: 3vh;
    height: 6vw;
    display: block;
    margin: auto;
    background-image: url(./assets/img/Dew.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .body.dark .container .main .firstSection .realtimeWeatherArea .realtimeWeather ul .weather-info .winfoB .VisibilityIcon {
    width: 3vh;
    height: 6vw;
    display: block;
    margin: auto;
    background-image: url(./assets/img/Rain2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .body.dark .container .main .firstSection .perceived {
    width: 47%;
    height: 250px;
    margin: 0 auto;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 2vw;
  }
  .body.dark .container .main .firstSection .perceived .thermometerIconbox {
    width: 100%;
    height: 150px;
    position: relative;
  }
  .body.dark .container .main .firstSection .perceived .thermometerIconbox .thermometerIcon {
    margin-top: 14vw;
    margin-left: 1vw;
    width: 17vw;
    height: 10vh;
    background-image: url(./assets/img/ThermometerQuarter.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .body.dark .container .main .firstSection .perceived .thermometerIconbox div {
    text-align: center;
    font-family: "Nanum Gothic", serif;
    font-weight: 600;
    color: white;
    font-size: 5vw;
    font-weight: bold;
    position: absolute;
    top: 3vw;
    left: 9vw;
  }
  .body.dark .container .main .firstSection .perceived .thermometerIconbox div p {
    margin-top: 1vw;
    font-size: 4vw;
    font-weight: bold;
  }
  .body.dark .container .main .firstSection .perceived .suggestion {
    text-align: center;
  }
  .body.dark .container .main .firstSection .perceived .suggestion .suggestionT {
    font-size: 4vw;
    font-weight: bold;
    margin-top: 2vh;
    margin-bottom: 1vh;
  }
  .body.dark .container .main .firstSection .perceived .suggestion .suggestionM {
    font-size: 2.5vw;
  }
  .body.dark .container .main .secondSection {
    width: 100%;
    height: 63%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
  }
  .body.dark .container .main .secondSection .b1 {
    width: 100%;
    height: 50%;
    margin: 0 auto;
    margin-top: -7vw;
    background-color: #303136;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #535353;
    overflow: hidden;
    position: relative;
    opacity: 90%;
  }
  .body.dark .container .main .secondSection .b1 .map {
    width: 300px;
    height: 250px;
    top: -4%;
    left: 8%;
    position: absolute;
  }
  .body.dark .container .main .secondSection .b1 .map .koreaMap {
    stroke: #0088ff;
    fill: #ffffff;
  }
  .body.dark .container .main .secondSection .b1 .map .koreaMap:hover {
    fill: #046b1e;
    cursor: pointer;
  }
  .body.dark .container .main .secondSection .b2 {
    width: 100%;
    margin: 0 auto;
    margin-top: -17vw;
    background-color: #303136;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #535353;
    height: 35%;
  }
  .body.dark .container .main .secondSection .b2 .chart {
    height: 150px !important;
  }
  .body.dark .container .main .secondSection .b2 .chart Line {
    stroke: #3d4754;
  }
  .body.dark .container .main .secondSection .b2 .chart .chartline {
    stroke: #7b55f0;
  }
  .body.dark .container .main .secondSection .b2 .chartInfo {
    width: 88vw;
    justify-content: space-between;
    margin-left: 4vw;
  }
  .body.dark .container .main .secondSection .b2 .chartInfo .text-center {
    margin-top: -0.6vw;
    width: 20vw !important;
    height: 20vw !important;
  }
  .body.dark .container .main .secondSection .b2 .chartInfo .text-center .text-sm {
    margin-left: -3vw;
    font-size: 2.3vw;
    text-align: center;
  }
  .body.dark .container .main .thirdSection {
    margin-top: 5vw;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .body.dark .container .main .thirdSection .c {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  .body.dark .container .main .thirdSection .c .c2-1,
  .body.dark .container .main .thirdSection .c .c2-2,
  .body.dark .container .main .thirdSection .c .c2-3 {
    width: 32%;
    height: 170px;
    box-sizing: border-box;
    background-color: black;
    background-color: #303136;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #535353;
  }
  .body.dark .container .main .thirdSection .c .c2-1 .circleperTitle,
  .body.dark .container .main .thirdSection .c .c2-2 .circleperTitle,
  .body.dark .container .main .thirdSection .c .c2-3 .circleperTitle {
    text-align: center;
    line-height: 50px;
    font-size: 10px;
    font-weight: bold;
    font-family: "Nanum Gothic", serif;
  }
  .body.dark .container .main .thirdSection .c .c2-1 .allhighestprecipitation,
  .body.dark .container .main .thirdSection .c .c2-2 .allhighestprecipitation,
  .body.dark .container .main .thirdSection .c .c2-3 .allhighestprecipitation {
    z-index: 2px;
    font-size: 1.5vw;
    line-height: 9vw;
    text-align: center;
  }
  .body.dark .container .main .thirdSection .c .c2-1 .highestprecipitationDay,
  .body.dark .container .main .thirdSection .c .c2-2 .highestprecipitationDay,
  .body.dark .container .main .thirdSection .c .c2-3 .highestprecipitationDay {
    font-size: 4vw;
    line-height: 6vw;
    font-weight: bold;
    text-align: center;
  }
  .body.dark .container .main .thirdSection .c .c2-1 .highestprecipitation,
  .body.dark .container .main .thirdSection .c .c2-2 .highestprecipitation,
  .body.dark .container .main .thirdSection .c .c2-3 .highestprecipitation {
    font-size: 5vw;
    line-height: 2vw;
    text-align: center;
  }
  .body.dark .container .main .thirdSection .c .c2-1 .circleBox,
  .body.dark .container .main .thirdSection .c .c2-2 .circleBox,
  .body.dark .container .main .thirdSection .c .c2-3 .circleBox {
    width: 100%;
    position: relative;
  }
  .body.dark .container .main .thirdSection .c .c2-1 .circleBox .circle,
  .body.dark .container .main .thirdSection .c .c2-2 .circleBox .circle,
  .body.dark .container .main .thirdSection .c .c2-3 .circleBox .circle {
    display: block;
    width: 28vw;
    height: 28vw;
    margin: auto;
    margin-top: -6vw;
  }
  .body.dark .container .main .thirdSection .c .c2-1 .circleBox .circleper,
  .body.dark .container .main .thirdSection .c .c2-2 .circleBox .circleper,
  .body.dark .container .main .thirdSection .c .c2-3 .circleBox .circleper {
    position: absolute;
    top: 12.5vw;
    left: 7.4vw;
    font-size: 7vw;
    font-weight: bold;
    text-shadow: 10px 10px 10px #1C1B20;
    font-family: "Nanum Gothic", serif;
  }
  .body.dark .container .main .thirdSection .c1 {
    width: 100%;
    height: 150px;
    background-color: #303136;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #535353;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    margin-top: 5vw;
  }
  .body.dark .container .main .thirdSection .c1 Line {
    stroke: #746bb8;
  }
  .body.dark .container .main .thirdSection .c1 .tgtitle {
    width: 65%;
    line-height: 9vw;
    font-size: 3vw;
    text-align: center;
    font-weight: bold;
    font-family: "Nanum Gothic", serif;
    font-weight: 600;
    color: white;
  }
  .body.dark .container .main .thirdSection .c1 .temperatureGraph {
    position: absolute;
    top: 10vw;
    left: 0;
    border-radius: 10px;
    margin: auto;
    display: block;
    width: 90%;
    height: 120px;
  }
  .body.dark .container .main .thirdSection .c2 {
    margin-top: 4vw;
    width: 100%;
    height: 16vh;
    background-color: #303136;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #535353;
    margin-top: 5vw;
    margin-bottom: 5vw;
    text-align: center;
    box-sizing: border-box;
    font-weight: bold;
  }
  .body.dark .container .main .thirdSection .c2 .tgtitle2 {
    font-size: 3vw !important;
  }
  .body.dark .container .main .thirdSection .c2 h2 {
    font-size: 1vw;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: "Nanum Gothic", serif;
    font-weight: 600;
    color: white;
  }
  .body.dark .container .main .thirdSection .c2 .customtbody {
    font-size: 0.8rem;
    /* 모바일에서 글자 크기 조정 */
  }
  .body.dark .container .main .thirdSection .c2 .tableMain .customthead .customtr .customth {
    border-bottom: 1px solid #bdc5cc;
    color: #ffffff;
  }
  .body.dark .container .main .thirdSection .c2 .tableMain .customtbody .customtr {
    border-bottom: 2px solid #0185f8;
    color: #ffffff;
  }
  .body.dark .container .main .thirdSection .c2 .tableMain .customtbody .customtr .customtd {
    width: 200px;
    word-break: break-all;
    border-bottom: 1px solid #dedede;
    color: #ffffff;
  }
}/*# sourceMappingURL=AppMB.css.map */